<html>

<head>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="root"></div>
	<script src="../assets/js/mdc-cards.js"></script>
</body>

</html>