$baseclass: arrow-group;

.#{$baseclass} {
	position: relative;
	display: flex;
	justify-content: flex-start;

	.#{$baseclass}__first,
	.#{$baseclass}__second {
		transition: opacity $duration-medium $easing2;
	}

	@for $i from 1 through 2 {
		> div {
			&:nth-child(#{$i}) {
				transition-delay: (#{0.6 + ($i * 0.18)}s);							
			}
		}
	}

	.#{$baseclass}__first {
		transform: scaleX(-1);
	}

	&__links {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;

		> * {
			flex: 1;
		}

		div {
			height: 100%;
		}
	}

	&--vertical {
		flex-direction: column;

		.#{$baseclass}__links {
			flex-direction: column;

			> * {
				max-height: 50%;
			}
		}

		.#{$baseclass}__first {
			transform: scaleX(-1) rotate(-90deg);
		}
		.#{$baseclass}__second {
			transform: rotate(90deg);
		}
	}
}

.#{$scrolling-section-classname} {
	&:first-child {
		.#{$baseclass}__links {
			justify-content: flex-end;
		}
		.#{$baseclass}__first {
			@include disabled();
		}
	}
	&:last-child {
		.#{$baseclass}__links {
			justify-content: flex-start;
		}
		.#{$baseclass}__second {
			@include disabled();
		}
	}
}
