$baseclass: clip-wrapper;

.#{$baseclass} {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	clip: rect(0,auto,auto,0);

	&__left {
		position: fixed;
		top: 0px;
		width: 72px;
		left: 0px;
		border: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		display: flex;

		> * {
			margin: 60px 0;
		}

		> *:first-child:not(*:last-child) {
			margin-bottom: 0;
		}

		> *:last-child:not(*:first-child) {
			margin-top: 0;
		}

		a {
			pointer-events: none;
			@include zIndexCloser();
		}

		hr {
			margin: 6px 18px;
			width: 100%;
			transform: scaleX(0.5);
			transform-origin: left;
		}

		.active-section & {
			a {
				pointer-events: auto;
				@include zIndexCloser();
			}
		}


		&__bottom {
			transform: rotate(-90deg) translateX(40%);

			h1, h2, h3, h4, h5, h6 {
				white-space: nowrap;
			}
		}

		i {
			margin: 0 12px;
		}
	}
}