$baseclass: cursor;

.#{$baseclass} {
	position: relative;
	pointer-events: none;
	opacity: 0;
	left: 0;
	top: 0;
	position: fixed;
	mix-blend-mode: difference;
	@include zIndexClosest();
	// transition: opacity $easing4 $duration-slow;

	&__wrapper {
		transform: translate(-50% , -50%);
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__outer, &__inner {
		transition: all $easing4 $duration-fast;
		position: absolute;
	}

	&__outer {
		border: solid 1px $brand-white;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	&__inner {
		// transition: width $easing2 $duration-medium, height $easing2 $duration-medium;
		height: 6px;
		width: 6px;
		background: $brand-white;
		border-radius: 50%;
	}

	&__line {
		background: $brand-white;
		height: 1px;
		width: 12px;
	}

	&--visible {
		opacity: 1;
	}

	&--hovering {
		.#{$baseclass}__outer {
			transform: scale(0.6);
			// opacity: 0;
		}

		.#{$baseclass}__inner {
			transform: scale(0);
			// border: solid 1px $brand-white;
		}
	}

		// &:first-child {
		// 	transform-origin: 50% 50%;
		// 	// transform: rotate(90deg);
		// }
		// &:last-child {
		// 	transform-origin: top center;
		// 	transform: rotate(90deg) translate(-1px, -1px);
		// }
	}