$image-baseclass: image-wrapper;

.#{$image-baseclass} {
	position: relative;
	display: block;
	height: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;

	img {
		display: block;
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		transition: $easing2 $duration-long;
		opacity: 0;
	}

	.#{$scrolling-section-classname} & {
		background-color: mix($brand-white, $brand-black, 95%);
		border: solid 1px mix($brand-white, $brand-black, 90%);
	}

	.#{$scrolling-section-classname}--black & {
		background-color: mix($brand-white, $brand-black, 5%);
		border: solid 1px mix($brand-white, $brand-black, 10%);
	}

	&--loaded {
		.#{$scrolling-section-classname} & {
			border-color: transparent !important;
			background-color: transparent;
		}

		img {
			opacity: 1;
		}
	}
}