.process {
	position: relative;
	width: 100%;
	height: auto;
}
.process__list {
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
	opacity: 1;

	> * {
		justify-content: center;
	}
}
.step {
	position: absolute;
	transform: translate(-50%, -50%);
}
.step__arc {
	stroke-width: 1px;
	stroke: $brand-red;
	stroke-dashoffset: 350;
	stroke-dasharray: 350;
	fill: transparent;
	vector-effect: non-scaling-stroke;
	transition: stroke-dasharray $duration-fast $easing5;

	&--active {
		stroke-dasharray: 700;
	}
}
.circle__arc {
	stroke: rgba($brand-white, 0.24);
	stroke-width: 1;
	fill: transparent;
	vector-effect: non-scaling-stroke;
}
.step__number {
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: $brand-black;
	line-height: 1.4;
	height: 14px;
	text-align: center;
	opacity: 1;
}
.step__info {
	position: absolute;
	width: 200px;
	pointer-events: all;
	overflow: hidden;

	> .step__text {
		height: auto;
		transition: transform $duration-slow $easing2 0s;
		transform: translateX(-100%);

		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transition-delay: ($i - 1) * $delay-slow;
			}
		}
	}
}
.step__icon {
	position: relative;
	width: 60px;
	background-position: bottom left;
	background-repeat: no-repeat;
	opacity: 0;
	margin-bottom: 8px;
}
.step {
	position: absolute;
	transform: translate(-50%, -50%);

	&__spot-fill {
		fill: $brand-white;
		transform: scale(0);
		transition: transform $duration-fast $easing5;
	}

	&:nth-child(1) {
		top: 1%;
		left: 50%;

		.step__info {
			bottom: calc(100% + 20px);
			left: 0px;
			transform: translate(10px, 0);
		}
	}
	&:nth-child(2) {
		top: 15.64466094%;
		left: 85.35533906%;

		.step__info {
			top: 0;
			left: 80px;
			transform: translate(0, -40%);
		}
	}
	&:nth-child(3) {
		top: 50%;
		left: 99%;

		.step__info {
			top: 0;
			left: 60px;
			transform: translate(0, 0);
		}
	}
	&:nth-child(4) {
		top: 84.35533906%;
		left: 85.35533906%;

		.step__info {
			top: 100%;
			left: 20px;
			transform: translate(0, 20px);
		}
	}
	&:nth-child(5) {
		top: 99%;
		left: 50%;

		.step__info {
			top: calc(100% + 20px);
			left: 50%;
			transform: translate(-45%, 0);
		}
	}
	&:nth-child(6) {
		top: 84.35533906%;
		left: 14.64466094%;

		.step__info {
			top: 0;
			right: 30px;
			transform: translate(0, -15%);
		}
	}
	&:nth-child(7) {
		top: 50%;
		left: 1%;

		.step__info {
			top: 0;
			right: 40px;
			transform: translate(0, -65%);
		}
	}
	&:nth-child(8) {
		top: 15.64466094%;
		left: 14.64466094%;

		.step__info {
			top: -20px;
			right: 0px;
			transform: translate(0, -100%);
		}
	}

	&--hovering {
		.step__info > .step__text {
			transform: none;
		}
		.step__spot-fill {
			transform: scale(1);
		}
	}
	&--active {
		.step__info > .step__text {
			transform: none;
		}
		.step__spot-fill {
			transform: scale(1);
			fill: $brand-red;
		}
	}
}
.step__spot-svg {
	width: 30px;
	height: 30px;
}
.step__spot-circle {
	fill: $brand-black;
	stroke: $brand-white;
	vector-effect: non-scaling-stroke;
	stroke-width: 1;
}
.step__icon {
	position: relative;
	width: 60px;
	background-position: bottom left;
	background-repeat: no-repeat;
	opacity: 0;
	margin-bottom: 8px;
}
.step__svg {
	position: relative;
	bottom: 0;

	width: 48px;
	height: 48px;
	font-size: 40px;
}
