.process {
	position: relative;
	width: 100%;
	height: auto;

	ul {
		list-style: none;
	}


	.process__list {
	}
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
		text-align: center;
		opacity: 1;

		> * {
			justify-content: center;
		}
	}
	.step {
		position: absolute;
		transform: translate(-50%, -50%);
	}
	.step__arc {
		stroke-width: 2px;
		stroke: $brand-white;
		stroke-dashoffset: 350;
		stroke-dasharray: 350;
		fill: transparent;
		vector-effect: non-scaling-stroke;
		transition: stroke-dasharray $duration-fast $easing5;

		&--active {
			stroke-dasharray: 700;
		}
	}
	.circle__arc {
		stroke: rgba($brand-white, 0.24);
		stroke-width: 1;
		fill: transparent;
		vector-effect: non-scaling-stroke;
	}
	.step__number {
		position: absolute;
		top: 12px;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
		color: $brand-black;
		line-height: 1.4;
		height: 14px;
		text-align: center;
		opacity: 1;
	}
	.step__icon {
		position: relative;
		width: 60px;
		background-position: bottom left;
		background-repeat: no-repeat;
		opacity: 0;
		margin-bottom: 8px;
	}
	.step__spot-svg {
		width: 30px;
		height: 30px;
	}
	.step__spot-circle {
		fill: $brand-black;
		stroke: $brand-white;
		vector-effect: non-scaling-stroke;
		stroke-width: 1;
	}
	.step__icon {
		position: relative;
		width: 60px;
		background-position: bottom left;
		background-repeat: no-repeat;
		opacity: 0;
		margin-bottom: 8px;
	}
	.step__svg {
		position: relative;
		bottom: 0;

		width: 48px;
		height: 48px;
		font-size: 40px;
	}

	@media screen and (max-width: $bp-medium) {
		width: 105%;
		transform: translateX(-2.5%);

		.title {
			width: 90%;
		}
	}
}

.step {
	position: absolute;
	transform: translate(-50%, -50%);

	&__spot-fill {
		fill: $brand-white;
		transform: scale(0);
		transform-origin: center;
		transition: transform $duration-fast $easing5;
	}

	&__info {
		position: absolute;
		width: 200px;
		pointer-events: all;
		overflow: hidden;
	}

	&__text {
		height: auto;
		transition: transform $duration-slow $easing2 0s;
		transform: translateX(-100%);

		.step:nth-child(n + 6) & {
			transform: translateX(100%);
		}

		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transition-delay: ($i - 1) * $delay-slow;
			}
		}
	}


	&:nth-child(1) {
		top: 1%;
		left: 50%;

		.step__info {
			bottom: 0;
			left: 0;
			transform: translate(25%, -50%);
		}
	}
	&:nth-child(2) {
		top: 15.64466094%;
		left: 85.35533906%;

		.step__info {
			bottom: 0;
			left: 0;
			transform: translate(25%, -25%);
		}
	}
	&:nth-child(3) {
		top: 50%;
		left: 99%;

		.step__info {
			top: 0;
			left: 0;
			transform: translate(25%, 0);
		}
	}
	&:nth-child(4) {
		top: 84.35533906%;
		left: 85.35533906%;

		.step__info {
			top: 0;
			left: 0;
			transform: translate(25%, 25%);
		}
	}
	&:nth-child(5) {
		top: 99%;
		left: 50%;

		.step__info {
			top: 0;
			left: 0;
			transform: translate(25%, 50%);
		}
	}
	&:nth-child(6) {
		top: 84.35533906%;
		left: 14.64466094%;

		.step__info {
			top: 0;
			right: 0;
			transform: translate(-25%, 25%);
			text-align: right;
		}
	}
	&:nth-child(7) {
		top: 50%;
		left: 1%;

		.step__info {
			top: 0;
			right: 0;
			transform: translate(-25%, -25%);
			text-align: right;
		}
	}
	&:nth-child(8) {
		top: 15.64466094%;
		left: 14.64466094%;

		.step__info {
			top: 0;
			right: 0px;
			transform: translate(-25%, -50%);
			text-align: right;
		}
	}

	&--hovering {
		.step__info > .step__text {
			transform: none;
		}
		.step__spot-fill {
			transform: scale(1);
		}
	}
	&--active {
		.step__info > .step__text {
			transform: none;
		}
		.step__spot-fill {
			transform: scale(1);
		}
	}
}