$baseclass: project-card;

.#{$baseclass} {
	// margin-right: 24px;
	position: relative;
	// background: $brand-black;

	a {
		border: none;
		color: $brand-black;
	}

	// h1, h2, h3, h4, h5, h6, blockquote {
	// 	margin: 0;
	// }

	i {
		font-size: 40px;
	}

	&__bottom {
		display: flex;
		align-items: center;
		padding: 40px 48px;

		> div {
			flex: 1;
		}
	}

	&__asset {
		overflow: hidden;
		clip-path: none;

		&, img, video  {
			transition: all $easing5 $duration-long 0s !important;
		}

		img, video {
			transition-delay: $delay-short;
		}
	}

	.active-section & {
		&__asset {
			img, video {
				transform: translate3d(0,100%,0);
			}
		}
	}

	&--visible {
		.#{$baseclass}__asset {
			img, video {
				transform: none;
			}
		}
	}
	

	&--hovered {
		.#{$baseclass}__asset {
			// margin: 6px;
			// clip-path: inset(12px 12px 12px 12px);

			img, video {
				transform: scale(1.06);
			}
		}
	}

	@media screen and (max-width: $bp-medium) {
		margin: 0;

		.#{$baseclass}__bottom {
			padding: 24px 0;
			padding-bottom: 40px;
		}

		i {
			right: 0;
		}
	}
}
