$baseclass: project-card;

.#{$baseclass} {
	margin-bottom: 12px;
	position: relative;
	opacity: 0.6;
	// overflow: hidden;
	// background: $brand-black;

	a {
		border: none;
		color: $brand-black;
		display: flex;
		align-items: center;

				// > div {
		// 	flex: 1;
		// }

	}

	h1, h2, h3, h4, h5, h6 {
		// @include zIndexClose;
	}

	&__tags {
		opacity: 0;
	}

	&,
	&__tags, 
	&__asset {
		transition: all $easing4 $duration-medium;
	}

	// &__asset,
	// &__asset img,
	// &__asset div {
	// 	@include zIndexFarthest;
	// }

	&__bottom {
		display: block;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		min-width: 100%;
		@include zIndexClose;
		// transform: translateY(20%);
	}

	&__asset {
		position: absolute;
		transform: translateX(-8.3333%);
		opacity: 0;
		pointer-events: none;
		width: 116.6666%;
		@include zIndexFar;

		img, video {
			// transform: none;
			transition-delay: $delay-short;
		}
	}

	.active-section & {
		&__asset {
			img, video {
				transform: none;
			}
		}
	}

	&--hovered {
		opacity: 1;

		.#{$baseclass}__asset, 
		.#{$baseclass}__tags {
			opacity: 1;
		}
		.#{$baseclass}__bottom {
			transform: none;
		}
	}

	@media screen and (max-width: $bp-medium) {
		margin: 0;

		.#{$baseclass}__bottom {
			// padding: 24px 0;
			// padding-bottom: 40px;
		}

		i {
			right: 0;
		}
	}
}
