@keyframes wiggle {
	16.65% {
		transform: translateY(4px) rotate(90deg);
	}
	33.3% {
		transform: translateY(-3px) rotate(90deg);
	}
	49.95% {
		transform: translateY(2px) rotate(90deg);
	}
	66.6% {
		transform: translateY(-1px) rotate(90deg);
	}
	83.25% {
		transform: translateY(1px) rotate(90deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes drawInOut {
	0%, 30% {
		transform-origin: bottom;
		transform: scaleY(1);
	}
	45% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
	65% {
		transform: scaleY(0);
		transform-origin: top;
	}
	80%, 100% {
		transform: scaleY(1);
		transform-origin: top;
	}
}

$baseclass: scroll-arrow;
$arrow-size: 40px;

.#{$baseclass} {
	// cursor: pointer;
	pointer-events: auto;
	position: fixed;
	top: calc(100vh - 90px);
	left: 50%;
	height: 90px;
	width: 80px;
	transform: translateX(-41px);
	display: none;
	align-items: center;
	flex-direction: column-reverse;
	white-space: pre;
	@include zIndexClose();

	.active-section & {
		display: flex;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $brand-black;
		margin: 0;
		margin-bottom: 6px;

		span {
			display: inline-block;
			opacity: 1;
			transform: none;
			transition: all $duration-slow $easing2;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay: (#{0.0 + ($i * 0.09)}s);
				}
			}
		}
	}

	i {
		transform: rotate(90deg);
		font-size: 48px;
		animation: wiggle $duration-slower $easing2 infinite;
	}

	&__seperator-container {
		background: rgba($brand-black, 0);
		height: 60px;
		width: 1px;
		transform-origin: bottom;
		transform: scaleY(1);
		transition: transform $easing3 $duration-slow;
	}

	&__seperator {
		background: $brand-black;
		height: 100%;
		width: 100%;
		animation: drawInOut $easing2 3s infinite;
	}

	.#{$scrolling-section-classname}--black & {
		h1, h2, h3, h4, h5, h6 {
			color: $brand-white;
		}
		.#{$baseclass}__seperator-container {
			background: rgba($brand-white, .24);
		}

		.#{$baseclass}__seperator {
			background: $brand-white;
		}
	}

	&--hidden {
		pointer-events: none;
		
		h1, h2, h3, h4, h5, h6 {			
			span {
				opacity: 0;
				transform: translateY(12px);
			}
		}
		.#{$baseclass}__seperator-container {
			transform: scaleY(0);
		}
		.#{$baseclass}__seperator {
			animation: none;
		}
	}

	@media screen and (max-width: $bp-medium) {
		position: fixed;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 3px;
		}
		.#{$baseclass}__seperator-container {
			height: 48px;
		}
	}
}
