$baseclass: sidebar;

.#{$baseclass} {
	// height: 100vh;
	width: auto;
	position: fixed;
	pointer-events: none;
	display: none;
	align-items: center;
	justify-content: flex-end;
	top: 0px;
	background-blend-mode: multiply;
	transition: transform $duration-short $easing4;
	@include zIndexCloser();

	&--left {
		left: 0;
		transform: translateX(-48px);

		.#{$baseclass}__dash {
			transform-origin: left;
		}
	}

	&--right {
		right: 0;
		transform: translateX(137px);

		.#{$baseclass}__dash {
			transform-origin: right;
		}

		.#{$baseclass}__label {
			width: 96px;
		}
	}

	.active-section & {
		display: flex;
		pointer-events: auto;

		&__inner {
			pointer-events: auto;
		}
	}

	&__inner {
		pointer-events: none;
		list-style: none;
		margin-top: 60px;
		width: 100%;
		padding: 0;
		transition: all $easing4 $duration-short
	}

	&__item {
		width: 100%;
		height: 42px;
		border-bottom: none;
		overflow: hidden;
		position: relative;
		transition: height $easing4 $duration-short $duration-short;

		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			border: none;
			padding: 0 18px 0 0;
			pointer-events: none;

			&.active {
				.sidebar__dash {
					transform: scaleX(1);
				}
			}
		}
	}

	&__label, &__number {
		color: darken($brand-black, 0%);
		// text-shadow: 0 1px $brand-white;
		margin: 0 12px;
		opacity: 0;
		display: inline-block;
	}

	&__number {
		color: darken($brand-black, 0%);
		width: 24px;
	}

	&__label {
		color: darken($brand-black, 0%);
		white-space: nowrap;

		span {
			margin-left: 9px;
			color: transparent;
		}
	}

	&__dash {
		margin: 0;
		width: 48px;
		height: 1px;
		background: darken($brand-black, 0%);
		display: inline-block;
		transform: scaleX(0.5);
		transition: all $easing4 $duration-short;
	}

	&__border {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background: rgba($brand-black, .06);
		opacity: 0;
		-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 60%, transparent);
	}

	&__border--top {
		bottom: auto;
		top: 0;
		display: none;
	}


	&--open {
		transform: none;
		transition: transform $duration-short $duration-short $easing3;
		// background-image: linear-gradient(90deg, rgba($brand-white, .8) 60%, transparent);

		.#{$baseclass}__inner {

			.#{$baseclass}__item {
				height: 60px;
				transition: height $easing4 $duration-short;

				a {
					pointer-events: auto;

					&.active {
						.#{$baseclass}__label span {
							color: $brand-red;
							-webkit-text-stroke-width: 4px;
						}
					}
				}

				.#{$baseclass}__number,
				.#{$baseclass}__label,
				.#{$baseclass}__border {
					opacity: 1;
					transition: opacity $duration-short $duration-short $easing3;
				}
				.#{$baseclass}__number {
					transform: translate3d(0, 0, 0);
				}


				.#{$baseclass}__dash {
					transform: scaleX(1);
				}
			}
		}

		// .#{$baseclass}__item {
		// 	@for $i from 1 through 24 {
		// 		&:nth-child(#{$i}) {
		// 			.#{$baseclass}__dash {
		// 				transition-delay: (#{0.0 + ($i * 0.09)}s);
		// 			}
		// 		}
		// 	}
		// }
	}

	.#{$scrolling-section-classname}--black & {
		.#{$baseclass}__dash {
			background: $brand-white;
		}
		&--open {
			// background-image: linear-gradient(90deg, rgba($brand-black, .4), transparent);

			.#{$baseclass}__inner {
				.#{$baseclass}__border {
					background: rgba($brand-white, .06);
				}
			}
		}
	}

	// .#{$scrolling-section-classname}--black:first-child & {
	// 	&--open {
	// 		.#{$baseclass}__inner {
	// 			background: transparent;
	// 		}
	// 	}
	// }


	@media screen and (max-width: $bp-medium) {
		right: 0;
		left: auto;
		transform: translateX(176px);

		.active-section & {
			pointer-events: none;
		}

		.#{$baseclass}__inner {
			margin-top: 84px;
			pointer-events: none;
		}

		.#{$baseclass}__item {
			height: 30px;
		}

		.#{$baseclass}__dash {
			width: 32px;
			transform-origin: right;
		}

		.#{$baseclass}__label {
			width: 140px;
			margin-right: 0px;
		}


		&.#{$baseclass}--open {
			transform: none;
			// background-image: linear-gradient(-90deg, rgba($brand-white, .8), transparent);
			// min-width: 100vw;

			.#{$baseclass}__inner {
				background: $brand-white;
				// width: auto;
				// width: 80%;
			}

			.#{$baseclass}__item {
				height: 48px;
				padding-right: 24px;
			}

			.#{$baseclass}__number {
			    // margin: 0 16px 0 24px;
			}
		}
		.#{$scrolling-section-classname}--black & {
			&--open {
				.#{$baseclass}__inner {
					background: $brand-black;
				}
				// background-image: linear-gradient(-90deg, rgba($brand-black, .8), transparent);
			}
		}
	}
}
