$baseclass: text-link;

@keyframes drawOutInRight {
	0%, 20% {
		transform-origin: right;
		transform: scaleX(1);
	}
	40% {
		transform-origin: right;
		transform: scaleX(0);
	}
	60% {
		transform: scaleX(0);
		transform-origin: left;
	}
	80%, 100% {
		transform: scaleX(1);
		transform-origin: left;
	}
}


.#{$baseclass} {
	position: relative;
	display: inline-flex;
	flex-direction: column;

	&__line-container {
		height: 1px;
		width: 100%;
		display: block;
		overflow: hidden;
		background: rgba($brand-black, .24);
		// transition: all 0s $duration-long linear;
	}

	&__line {
		background: $brand-black;
		height: 100%;
		width: 100%;
		display: block;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform $easing2 $duration-long;
	}

	.#{$scrolling-section-classname}--black & {
		.#{$baseclass}__line-container {
			background: rgba($brand-white, .24);
		}
		.#{$baseclass}__line {
			background: $brand-white;
		}
	}

	&.#{$baseclass}--hide-underline {
		.#{$baseclass}__line-container {
			background: transparent;
		}
	}


	&--hovered {
		.#{$baseclass}__line-container {
			// background: transparent;
			// transition: none;
		}
		.#{$baseclass}__line {
			// animation: drawOutInRight $easing2 $duration-longest;
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	.active-section & {
		// .#{$baseclass}__line-container {
		// 	animation: drawOutInRight $easing5 $duration-longest;
		// }
	}
}