$baseclass: cursor;

.#{$baseclass} {
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	// transition: opacity $easing4 $duration-slow;

	&__outer, &__inner {
		position: fixed;
		mix-blend-mode: difference;
		transform: translate(-50% , -50%);
		@include zIndexClosest();
	}

	&__outer {
		transition: all $easing4 $duration-fast;
		border: solid 1px $brand-white;
		width: 48px;
		height: 48px;
		transform: translate(-50% , -50%);
		border-radius: 50%;
	}

	&__inner {
		transition: width $easing2 $duration-medium, height $easing2 $duration-medium;
		height: 9px;
		width: 9px;
		background: $brand-white;
		border-radius: 50%;
	}

	&__line {
		background: $brand-white;
		height: 1px;
		width: 12px;
	}


	&--visible {
		opacity: 1;
	}

	&--hovering {
		.#{$baseclass}__outer {
			width: 60px;
			height: 60px;
			// opacity: 0;
		}

		.#{$baseclass}__inner {
			width: 40px;
			height: 40px;
		}
	}

		// &:first-child {
		// 	transform-origin: 50% 50%;
		// 	// transform: rotate(90deg);
		// }
		// &:last-child {
		// 	transform-origin: top center;
		// 	transform: rotate(90deg) translate(-1px, -1px);
		// }
	}