$baseclass: nav-takeover;

.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	&__main {
		position: fixed;
		width: 100%;
		pointer-events: none;
		height: calc(100vh);
		top: 0px;
		display: flex;
		transition: all $easing1 $duration-medium;

		> div {
			flex: .6;
		}

		.#{$baseclass}__panels {
			flex: .4;
		}
	}

	&__panel {
		background: $brand-white;
		pointer-events: auto;
		position: absolute;
		width: calc(40%);
		right: 0;
		height: 100%;
		overflow-y: scroll;
		transition: transform $easing5 $duration-medium $delay-slow;
		transform: translate3d(100%, 0,0);

		h1, h2, h3, h4, h5, h6 {
			display: inline;
			pointer-events: none;
			// border-bottom: solid 1px transparent;
			// transition: border-color 0.3s $easing1;
			margin: 0;
			// padding-bottom: 2px;
		}

		a {
			// pointer-events: auto;
			border: none;
			color: $brand-black;
		}

		hr {
			height: 3px;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			transform: translate3d(200%, 0,0);
			cursor: pointer;
			transition: none;
			width: auto;
			min-width: 90px;
			margin-bottom: 48px;
			min-height: 60px;
		}
	}

	&__line-container {
		position: absolute;
		height: 100%;
		width: 72px;
		background: $brand-white;
		border-left: solid 1px $brand-grey-light;
		right: 0;
		top: 0;
		padding-top: 120px;
	}

	&__line {
		border-left: solid 1px lighten($brand-red, 0%);
		box-shadow: 0 6px $brand-white, 0 -6px $brand-white;
		height: 60px;
		width: 100%;
		transition: all $easing2 $duration-slow;
	}

	&__items--primary, &__items--secondary {
		position: absolute;
		right: 0;
		min-height: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 120px;
	}


	&__items--primary {

		h1, h2, h3, h4, h5, h6 {
			&:hover {
				border-color: $brand-grey-light;
			}

			&.active {
				color: transparent;
				-webkit-text-stroke: 1px $brand-red;
				// border-color: $brand-red;
			}
		}
	}

	&__items--secondary {
		pointer-events: none;
		// padding-top: 10px;

		li {
			// margin-bottom: 40px;
		}


		a.active {
			h1, h2, h3, h4, h5, h6 {
				color: transparent;
				-webkit-text-stroke: 1px $brand-red;
			}
		}
	}

	&--menuOpen {
		.#{$baseclass}__main {
			pointer-events: auto;
			background: rgba($brand-black, .5);
		}

		.#{$baseclass}__panel {		
			transform: none;

			li {
				transition: all $easing1 $duration-slow;

				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: (#{0.3 + ($i * 0.12)}s);
					}
				}

				// @for $i from 1 through 4 {
				// 	&:nth-child(#{$i}n + 1) {
				// 		transition-delay: (#{0.3 + ($i * 0.12)}s);
				// 	}
				// }
			}
		}

		.#{$baseclass}__items--primary {

			li {
				transform: none;
				// opacity: 1;
			}
		}
	}

	&--secondaryPanelOpen {
		.#{$baseclass}__toggle {
			pointer-events: none;
		}
		.#{$baseclass}__line-container {
			// padding-top: 10px;
		}

		
		.#{$baseclass}__items--primary {
			// opacity: 0;
			pointer-events: none;

			li {
				// opacity: 0;
				transform: translate3d(200%,0,0);
			}
		}
		.#{$baseclass}__items--secondary {
			opacity: 1;
			pointer-events: auto;

			li {
				transform: none;
			}
		}
	}

	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}__main {
			> div {
				flex: .2;
			}

			.#{$baseclass}__panels {
				flex: .8;
			}
		}

		.#{$baseclass}__line-container {
			width: 40px;
			padding-top: 60px;
		}


		&__line {
			height: 48px;
		}


		.#{$baseclass}__panel {
			width: 80%;

			hr {
				display: block;
			}
			ul {
				padding: 60px;
			}
			li {
				min-height: 48px;
			}
			.#{$baseclass}__items {
				margin-bottom: 18px;
				padding: 0;

				.#{$baseclass}__item {
					&:last-child {
						border-right: none;
					}
				}
			}
		}
		.#{$baseclass}--menuOpen {
			opacity: 0;

			.#{$baseclass}__panel--secondary {
				transform: translate3d(100%,0,0);
			}
		}
		.tabbed-list__header {
			ul {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&.#{$baseclass}--secondaryPanelOpen {


			.#{$baseclass}__panel--secondary {
				transform: none;
			}
			.#{$baseclass}__panel--primary {
				transform: translate3d(100%,0,0);

				li {
					transform: translate3d(12%,0,0);
					opacity: 0;
				}
			}
		}
	}
}