$baseclass: portfolio-nav;

@keyframes increasingNum {
	0% {
		opacity: 0;
		transform: translate3d(0,40px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes decreasingNum {
	0% {
		opacity: 0;
		transform: translate3d(0,-40px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
		transition: all $easing2 0.3s;
	}

	.#{$baseclass}__toggle-abbreviation {
		margin-bottom: 12px;
	}
	.#{$baseclass}__toggle-num {
		margin-top: 18px;
		animation: decreasingNum 0.3s $easing2;
		transition-delay: 0.09s;
		// animation-fill-mode: forwards;
	}
	&--countIsIncreasing {
		.#{$baseclass}__toggle-num {
			animation: increasingNum 0.3s $easing2;
			// animation-fill-mode: forwards;
		}
	}

	hr {
		margin: 0;
		height: 2px;
		width: 100%;
		background-color: $brand-grey-light;

		&:first-of-type {
			background: $brand-grey-lightest;
		}
	}

	p {
		font-size: 21px;
		color: $brand-grey-dark;
		min-width: 130px;
	}

	&__toggle {
		position: fixed;
		right: 0;
		top: 6px;
		width: 60px;
		height: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 99999;
		cursor: pointer;

		&:hover {
			.#{$baseclass}__hamburger {
				height: 18px;

				.line {
					&:first-child, &:last-child {
						opacity: 1;
					}

					&:first-child {
						transform: translate3d(0,-9px,0);
					}
					&:last-child {
						transform: translate3d(0,9px,0);
					}
				}
			}
			.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
				opacity: 0;
			}
			.#{$baseclass}__toggle-abbreviation {
				transform: translate3d(0,-12px,0);
			}
			.#{$baseclass}__toggle-num {
				transform: translate3d(0,12px,0);
			}
		}
	}

	&__hamburger {
		display: flex;
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;

		.line {
			transition: transform $easing2 0.6s, background-color $easing2 0.6s;
			background: $brand-black;
			height: 1px;
			border-radius: 1px;
			width: 100%;

			&:first-child, &:last-child {
				opacity: 0;
			}
		}
	}

	&--white {
		.#{$baseclass}__hamburger {
			.line {
				background-color: white;
			}
		}
		.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
			color: white;
			font-weight: 700;
		}
	}

	&__main {
		position: fixed;
		width: 100%;
		z-index: 9999;
		pointer-events: none;
		height: calc(100vh);
		top: 0px;
		transition: all $easing1 0.6s;
	}

	&__panel {
		pointer-events: auto;
		position: absolute;
		width: calc(33.32% + 24px);
		right: 0;
		height: 100%;
		overflow-y: scroll;
		transition: transform $easing2 0.9s;
		transform: translate3d(100%, 0,0);

		h1, h2, h3, h4, h5, h6 {
			display: inline;
		}

		h3 {
			border-bottom: solid 2px transparent;
			transition: border-color 0.3s $easing1;
			padding-bottom: 2px;
		}

		hr {
			height: 3px;
		}

		ul {
			min-height: 100%;
			height: auto;
			// overflow-y: auto;
			display: flex;
			flex-direction: column;
			padding: 80px 72px 24px;
		}

		li {
			display: inline-flex;
			align-items: center;
			opacity: 0;
			transform: translate3d(40px, 0,0);
			cursor: pointer;
			transition: none;
			width: auto;
			margin-bottom: 40px;
		}

		i {
			margin-right: 12px;	
		}
	}

	&__panel--white {
		background: white;

		h1, h2, h3, h4, h5, h6 {
			&:hover {
				// border-color: $brand-pink;
				border-color: $brand-grey-light;
			}
			&.active {
				// color: $brand-pink;
				border-color: $brand-pink;

				// &:after {
				// 	content: ""; 
				// 	position: absolute;
				// 	display: block; 
				// 	margin: 0 auto; 
				// 	width: 50%; 
				// 	padding-top: 2px; 
				// 	border-bottom: 4px solid $brand-pink; 
				// }
			}
		}

		h5 {
			margin-bottom: 12px;
		}
	}

	&__panel--blue {
		background: $brand-black;

		h1, h2, h3, h4, h5, h6 {
			color: white;

			&:hover {
				border-color: white;
			}
		}

		.icon-arrow-long-left {
			font-size: 30px;
			color: white;
			transform: scaleY(-1);
		}

		li {
			// transform: translate3d(24px, 0,0);
		}

		h5 {
			margin-bottom: 24px;
		}

		&:hover {
			::-webkit-scrollbar {
				width: 6px;
			}

			::-webkit-scrollbar-thumb {
				background-color: rgba(white, .4);
				border-radius: 6px;
			}
		}


		// ::-webkit-scrollbar-track {
		// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// }

	}

	&--menuOpen {
		.#{$baseclass}__hamburger, .#{$baseclass}__toggle:hover .#{$baseclass}__hamburger {
			.line {
				background: $brand-black;
				opacity: 0;

				&:first-child {
					opacity: 1;
					transform: translate3d(0,0px,0) rotate(135deg);
				}
				&:last-child {
					opacity: 1;
					transform: translate3d(0,-2px,0) rotate(45deg);
				}
			}
		}
		.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
				opacity: 0;
		}
		.#{$baseclass}__toggle-abbreviation {
			transform: translate3d(0,-12px,0);
		}
		.#{$baseclass}__toggle-num {
			transform: translate3d(0,12px,0);
		}
		.#{$baseclass}__main {
			background: rgba($brand-black, .5);
		}

		.#{$baseclass}__panel {

			li {
				transition: all $easing1 0.9s;
				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: 0.09s * $i;
					}
				}
			}
		}

		.#{$baseclass}__panel--white {
			transform: none;


			li {
				transform: none;
				opacity: 1;
			}
		}
	}

	&--secondaryPanelOpen {
		.#{$baseclass}__hamburger, .#{$baseclass}__toggle:hover .#{$baseclass}__hamburger {
			.line {
				background: white;
			}
		}
		.#{$baseclass}__panel--white {
			transform: translate3d(100%,0,0);

			li {
				transform: translate3d(40px,0,0);
				opacity: 0;
			}
		}
		.#{$baseclass}__panel--blue {
			transform: none;

			li {
				transform: none;
				opacity: 1;
			}
		}
	}
	&--notificationsOpen {
		.#{$baseclass}__notifications {
			background: rgba($brand-black, .40);
			opacity: 1;
		}
		.icon-bell {
			color: $brand-pink;
		}
	}
	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}__toggle {
			top: 0;
			width: 49px;
		}
		.#{$baseclass}__toggle-abbreviation {
			margin-bottom: 9px;
		}
		.#{$baseclass}__toggle-num {
			margin-top: 12px;
		}
		hr {
			&:last-of-type {
				display: none;
			}
		}
		#second-top-bar {
			display: none;
		}
		.tabbed-list__line-container {
			padding: 0 12px;
		}
		.#{$baseclass}__panel {
			width: calc(100% - 24px);

			hr {
				display: block;
			}
			ul {
				padding: 60px 24px 24px;
			}
			.#{$baseclass}__items {
				margin-bottom: 18px;
				padding: 0;

				.#{$baseclass}__item {
					&:last-child {
						border-right: none;
					}
				}
			}
		}
		.#{$baseclass}--menuOpen {
			opacity: 0;
		}
		.tabbed-list__header {
			ul {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		&.#{$baseclass}--secondaryPanelOpen {
			.#{$baseclass}__panel--white {
				li {
					transform: translate3d(40px,0,0);
					opacity: 0;
				}
			}
		}
	}
}