$baseclass: nav-takeover;

.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	hr {
		margin: 0;
		height: 2px;
		width: 100%;
		background-color: $brand-grey-light;

		&:first-of-type {
			background: $brand-grey-lightest;
		}
	}

	p {
		font-size: 21px;
		color: $brand-grey-dark;
		min-width: 130px;
	}

	&__main {
		position: fixed;
		width: 100%;
		pointer-events: none;
		height: calc(100vh);
		top: 0px;
		display: flex;
		transition: all $easing1 $duration-medium;
		@include zIndexCloser();

		> div {
			flex: .6;
		}

		.#{$baseclass}__panels {
			flex: .4;
		}
	}

	&__panel {
		pointer-events: auto;
		position: absolute;
		width: calc(40%);
		right: 0;
		height: 100%;
		overflow-y: scroll;
		transition: transform $easing5 $duration-medium $delay-slow;
		transform: translate3d(100%, 0,0);

		h1, h2, h3, h4, h5, h6 {
			display: inline;
			pointer-events: none;
			// border-bottom: solid 1px transparent;
			// transition: border-color 0.3s $easing1;
			margin: 0;
			// padding-bottom: 2px;
		}

		a {
			// pointer-events: auto;
			border: none;
			color: $brand-black;
		}

		hr {
			height: 3px;
		}

		ul {
			min-height: 100%;
			height: auto;
			// overflow-y: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 120px;
		}

		li {
			display: flex;
			align-items: center;
			// opacity: 0;
			transform: translate3d(200%, 0,0);
			cursor: pointer;
			pointer-events: all;
			transition: none;
			width: auto;
			margin-bottom: 48px;
		}
	}

	&__line-container {
		position: absolute;
		height: 100%;
		width: 72px;
		background: $brand-white;
		border-left: solid 1px $brand-grey-light;
		right: 0;
		top: 0;
		padding-top: 120px;
	}

	&__line {
		border-left: solid 1px $brand-red;
		box-shadow: 0 3px $brand-white, 0 -3px $brand-white;
		height: 60px;
		width: 100%;
		transition: all $easing2 $duration-slow;
	}

	&__panel--primary {
		background: $brand-white;

		li {
			min-height: 60px;
		}

		h1, h2, h3, h4, h5, h6 {
			&:hover {
				border-color: $brand-grey-light;
			}

			&.active {
				color: transparent;
				-webkit-text-stroke: 1px $brand-red;
				// border-color: $brand-red;
			}
		}
	}

	&__panel--secondary {
		background: $brand-black;

		h1, h2, h3, h4, h5, h6 {
			color: $brand-white;

			&:hover {
				border-color: $brand-white;
			}
		}

		a.active {
			h1, h2, h3, h4, h5, h6 {
				color: transparent;
				-webkit-text-stroke: 1px $brand-red;
			}
		}

		.icon-arrow-right {
			font-size: 48px;
			color: $brand-white;
			// transform: scaleX(-1);
			margin-right: 12px;
		}
	}

	&--menuOpen {
		.#{$baseclass}__main {
			pointer-events: auto;
			background: rgba($brand-black, .5);
		}

		.#{$baseclass}__panel {		
			// transition-timing-function: $easing1;

			li {
				transition: all $easing1 $duration-slow;

				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: (#{0.3 + ($i * 0.12)}s);
					}
				}
			}
		}

		.#{$baseclass}__panel--primary {
			transform: none;

			li {
				transform: none;
				// opacity: 1;
			}
		}

		.#{$baseclass}__panel--secondary {
			transform: none;
		}
	}

	&--secondaryPanelOpen {
		.#{$baseclass}__toggle {
			pointer-events: none;
		}
		.#{$baseclass}__hamburger, .#{$baseclass}__toggle:hover .#{$baseclass}__hamburger {
			.line {
				background: transparent;
			}
		}
		.#{$baseclass}__panel--primary {
			transform: none

			// li {
			// 	transform: translate3d(50%,0,0);
			// 	opacity: 0;
			// }
		}
		.#{$baseclass}__panel--secondary {
			transform: translate3d(-100%,0,0);

			li {
				transform: none;
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}__main {
			> div {
				flex: .2;
			}

			.#{$baseclass}__panels {
				flex: .8;
			}
		}

		.#{$baseclass}__line-container {
			width: 40px;
			padding-top: 60px;
		}


		&__line {
			height: 48px;
		}


		.#{$baseclass}__panel {
			width: 80%;

			hr {
				display: block;
			}
			ul {
				padding: 60px;
			}
			li {
				min-height: 48px;
			}
			.#{$baseclass}__items {
				margin-bottom: 18px;
				padding: 0;

				.#{$baseclass}__item {
					&:last-child {
						border-right: none;
					}
				}
			}
		}
		.#{$baseclass}--menuOpen {
			opacity: 0;

			.#{$baseclass}__panel--secondary {
				transform: translate3d(100%,0,0);
			}
		}
		.tabbed-list__header {
			ul {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&.#{$baseclass}--secondaryPanelOpen {


			.#{$baseclass}__panel--secondary {
				transform: none;
			}
			.#{$baseclass}__panel--primary {
				transform: translate3d(100%,0,0);

				li {
					transform: translate3d(12%,0,0);
					opacity: 0;
				}
			}
		}
	}
}