$baseclass: portfolio-nav;

@keyframes increasingNum {
	0% {
		opacity: 0;
		transform: translate3d(0,40px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes decreasingNum {
	0% {
		opacity: 0;
		transform: translate3d(0,-40px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
		transition: all $easing2 0.3s;
	}

	.#{$baseclass}__toggle-abbreviation {
		margin-bottom: 12px;
	}
	.#{$baseclass}__toggle-num {
		margin-top: 18px;
		animation: decreasingNum 0.3s $easing2;
		// animation-fill-mode: forwards;
	}
	&--countIsIncreasing {
		.#{$baseclass}__toggle-num {
			animation: increasingNum 0.3s $easing2;
			// animation-fill-mode: forwards;
		}
	}

	hr {
		margin: 0;
		height: 2px;
		width: 100%;
		background-color: $brand-grey-light;

		&:first-of-type {
			background: $brand-grey-lightest;
		}
	}

	p {
		font-size: 21px;
		color: $brand-grey-dark;
		min-width: 130px;
	}

	&__toggle {
		position: fixed;
		right: 0;
		top: 12px;
		width: 60px;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 99999;
		cursor: pointer;

		&:hover {
			.#{$baseclass}__hamburger {
				height: 18px;

				.line {
					&:first-child, &:last-child {
						opacity: 1;
					}

					&:first-child {
						transform: translate3d(0,-9px,0);
					}
					&:last-child {
						transform: translate3d(0,9px,0);
					}
				}
			}
			.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
				opacity: 0;
			}
			.#{$baseclass}__toggle-abbreviation {
				transform: translate3d(0,-12px,0);
			}
			.#{$baseclass}__toggle-num {
				transform: translate3d(0,12px,0);
			}
		}
	}

	&__hamburger {
		display: flex;
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;

		.line {
			transition: transform $easing2 0.6s, background-color $easing2 0.6s;
			background: $brand-black;
			height: 1px;
			border-radius: 1px;
			width: 100%;

			&:first-child, &:last-child {
				opacity: 0;
			}
		}
	}

	&__main {
		position: fixed;
		width: 100%;
		z-index: 9999;
		pointer-events: none;
		height: calc(100vh);
		top: 0px;
		transition: all $easing1 0.6s;
	}

	&__panel {
		pointer-events: auto;
		position: absolute;
		width: calc(33.32% + 24px);
		right: 0;
		height: 100%;
		overflow-y: scroll;
		transition: transform $easing2 0.9s;
		transform: translate3d(100%, 0,0);

		h1, h2, h3, h4, h5, h6 {
			display: inline;
		}

		h3 {
			border-bottom: solid 2px transparent;
			transition: border-color 0.3s $easing1;
			padding-bottom: 2px;
		}

		hr {
			height: 3px;
		}

		ul {
			min-height: 100%;
			height: auto;
			// overflow-y: auto;
			display: flex;
			flex-direction: column;
			padding: 80px 72px 24px;
		}

		li {
			display: inline-flex;
			align-items: center;
			opacity: 0;
			transform: translate3d(40px, 0,0);
			cursor: pointer;
			transition: none;
			width: auto;
			margin-bottom: 40px;
		}

		i {
			margin-right: 12px;	
		}
	}

	&__panel--white {
		background: white;

		h1, h2, h3, h4, h5, h6 {
			&:hover {
				// border-color: $brand-pink;
				border-color: $brand-grey-light;
			}
			&.active {
				// color: $brand-pink;
				border-color: $brand-pink;

				// &:after {
				// 	content: ""; 
				// 	position: absolute;
				// 	display: block; 
				// 	margin: 0 auto; 
				// 	width: 50%; 
				// 	padding-top: 2px; 
				// 	border-bottom: 4px solid $brand-pink; 
				// }
			}
		}

		h5 {
			margin-bottom: 12px;
		}
	}

	&__panel--blue {
		background: $brand-black;

		h1, h2, h3, h4, h5, h6 {
			color: white;

			&:hover {
				border-color: white;
			}
		}

		.icon-arrow-long-left {
			font-size: 30px;
			color: white;
			transform: scaleY(-1);
		}

		li {
			// transform: translate3d(24px, 0,0);
		}

		h5 {
			margin-bottom: 24px;
		}

		&:hover {
			::-webkit-scrollbar {
				width: 6px;
			}

			::-webkit-scrollbar-thumb {
				background-color: rgba(white, .4);
				border-radius: 6px;
			}
		}


		// ::-webkit-scrollbar-track {
		// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// }

	}

	&--menuOpen {
		.#{$baseclass}__hamburger, .#{$baseclass}__toggle:hover .#{$baseclass}__hamburger {
			.line {
				background: $brand-black;
				opacity: 0;

				&:first-child {
					opacity: 1;
					transform: translate3d(0,0px,0) rotate(135deg);
				}
				&:last-child {
					opacity: 1;
					transform: translate3d(0,-2px,0) rotate(45deg);
				}
			}
		}
		.#{$baseclass}__toggle-abbreviation, .#{$baseclass}__toggle-num {
				opacity: 0;
		}
		.#{$baseclass}__toggle-abbreviation {
			transform: translate3d(0,-12px,0);
		}
		.#{$baseclass}__toggle-num {
			transform: translate3d(0,12px,0);
		}
		.#{$baseclass}__main {
			background: rgba($brand-black, .5);
		}

		.#{$baseclass}__panel {

			li {
				transition: all $easing1 0.9s;
				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: 0.09s * $i;
					}
				}
			}
		}

		.#{$baseclass}__panel--white {
			transform: none;


			li {
				transform: none;
				opacity: 1;
			}
		}
	}

	&--secondaryPanelOpen {
		.#{$baseclass}__hamburger, .#{$baseclass}__toggle:hover .#{$baseclass}__hamburger {
			.line {
				background: white;
			}
		}
		.#{$baseclass}__panel--white {
			transform: translate3d(100%,0,0);

			li {
				transform: translate3d(40px,0,0);
				opacity: 0;
			}
		}
		.#{$baseclass}__panel--blue {
			transform: none;

			li {
				transform: none;
				opacity: 1;
			}
		}
	}
	&--notificationsOpen {
		.#{$baseclass}__notifications {
			background: rgba($brand-black, .40);
			opacity: 1;
		}
		.icon-bell {
			color: $brand-pink;
		}
	}
	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}__toggle {
			width: 48px;
		}
		hr {
			&:last-of-type {
				display: none;
			}
		}
		#second-top-bar {
			display: none;
		}
		.tabbed-list__line-container {
			padding: 0 12px;
		}
		.#{$baseclass}__panel {
			width: calc(100% - 24px);

			hr {
				display: block;
			}
			ul {
				padding: 60px 24px 24px;
			}
			.#{$baseclass}__items {
				margin-bottom: 18px;
				padding: 0;

				.#{$baseclass}__item {
					&:last-child {
						border-right: none;
					}
				}
			}
		}
		.#{$baseclass}--menuOpen {
			opacity: 0;
		}
		.tabbed-list__header {
			ul {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		&.#{$baseclass}--secondaryPanelOpen {
			.#{$baseclass}__panel--white {
				li {
					transform: translate3d(40px,0,0);
					opacity: 0;
				}
			}
		}
	}
}




// $width: 48px;
// $font-size: 17px;

// .fh5co-nav-toggle {
// 	position: fixed;
// 	left: 0;
// 	top: 12px;
// 	// transform: translateX(-30px);
// 	width: $width;
// 	pointer-events: all;
// 	cursor: pointer;
// 	z-index: 9999;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-start;
// 	align-items: center;

// 	.nav-section, .nav-number {
// 		text-align: center;
// 	}

// 	.nav-section, .nav-numbers-list {
// 		font-weight: 600;
// 		color: lighten($brand-black, 10%);
// 		letter-spacing: 1px;
// 		width: $width;
// 		font-size: $font-size;
// 		height: $font-size;
// 		line-height: 1;
// 		transition: opacity $duration-short $easing1, transform $duration-short $easing1;
// 	}

// 	.nav-number {
// 		width: $width;
// 		position: absolute;
// 		pointer-events: none;
// 		font-weight: 200;
// 		text-align: center;
// 		color: lighten($brand-black, 0%);
// 		transition: opacity $duration-short $easing1, transform $duration-short $easing1;
// 		transform: translateY(#{-1 * $font-size});
// 		opacity: 0;

// 		&.active {
// 			transform: translateY(0);
// 			opacity: 1;

// 			~ .nav-number {
// 				transform: translateY($font-size);
// 				opacity: 0;
// 			}
// 		}
// 	}

// 	&:hover, &:focus, &:active {
// 		outline: none;
// 		border-bottom: none !important;
// 	}

// 	.lines {
// 		position: relative;
// 		margin: 17px 0 19px;

// 		&:before, &:after {
// 			content:'';
// 			position: absolute;
// 			left: 0;
// 			opacity: 0;
// 			transition: transform $duration-short $easing1;
// 		}

// 		&, &:before, &:after {
// 			width: $width;
// 			height: 1px;
// 			background: $brand-grey-light;
// 		}

// 		&:before {
// 			transform: translateY(7px);
// 			top: -7px;
// 			width: inherit;
// 		}

// 		&:after {
// 			transform: translateY(-7px);
// 			bottom: -7px;
// 			width: inherit;
// 		}
// 	}

// 	&:hover {
// 		.nav-section {
// 			transform: translateY(-14px);
// 			opacity: 0;
// 		}
// 		.nav-number {
// 			transform: translateY(14px);
// 			opacity: 0;
// 		}
// 		.lines {
// 			&, &:before, &:after {
// 				background: $brand-black;
// 			}
// 			&:before {
// 				transform: translateY(0px);
// 			}
// 			&:after {
// 				transform: translateY(0px);
// 			}
// 			&:before, &:after {
// 				opacity: 1;
// 			}
// 		}
// 	}

// 	&.active {
// 		.nav-section, .nav-number {
// 			opacity: 0;
// 		}

// 		.lines {
// 			background: transparent;

// 			&:before, &:after {
// 				opacity: 1;
// 				height: 1px;
// 				background: lighten($brand-black, 55%);
// 			}

// 			&:before {
// 				top: 0;
// 				transform: rotateZ(45deg);
// 			}

// 			&:after {
// 				top: 0;
// 				transform: rotateZ(-45deg);
// 			}
// 		}
// 	}
// 	&.fh5co-nav-white {
// 		.lines {

// 			&, &:before, &:after {
// 				background: $brand-white;
// 			}
// 		}
// 		.nav-number, .nav-section {
// 			color: darken($brand-white, 2%);
// 		}

// 		&.active {
// 			.lines {
// 				background: transparent;

// 				&:before, &:after {
// 					opacity: 1;
// 					height: 1px;
// 					background: lighten($brand-black, 55%);
// 				}
// 			}
// 		}
// 	}
// 	@media screen and (max-width: $bp-small) {
// 		width: 40px;

// 		.lines {
// 			&, &:before, &:after {
// 				width: 40px;
// 			}
// 		}
// 		.nav-section, .nav-numbers-list {
// 			font-size: 15px;
// 			height: 15px;
// 		}
// 	}
// }


// #fh5co-offcanvas {
// 	position: fixed;
// 	z-index: 1901;
// 	max-width: 60vw;
// 	width: 100%;
// 	background: rgba($brand-white, 1);
// 	top: 0;
// 	left: 0;
// 	top: 0;
// 	bottom: 0;
// 	padding-top: 82px;
// 	overflow-y: auto;
// 	display: block;
// 	transform: translate3d(-100%,0,0);
// 	// transition: transform $duration-medium $easing2;
// 	transition: (none);

// 	@media screen and(max-width: $bp-small) {
// 	  max-width: 95vw;
// 	}

// 	a, label {
// 	  color: lighten($brand-black, 0%);
// 	  border-bottom: solid 1px transparent;
// 	  padding: 0;

// 	  &:hover, &:active, &:focus {
// 		background-color: none;
// 		// border-color: _palette($theme,brand-warning);
// 	  }

// 	  &.active {
// 		border-color: $brand-pink;
// 		pointer-events: none;
// 	  }
// 	}

// 	ul {
// 	  list-style: none;
// 	  padding: 0;
// 	  margin: 0;
// 	  // margin-top: 3em;

// 	  > li {
// 		padding: 0;
// 		margin: 0;
// 		padding: 35px 0;
// 		opacity: 0;
// 		transform: translate3d(-50%,0,0);
// 		transition: opacity $duration-medium $easing2, transform $duration-medium $easing2;
// 		z-index: 1903;

// 		@for $i from 1 through 5 {
// 		  &:nth-child(#{$i}) {
// 			transition-delay: (#{$i * 0.09}s);
// 		  }
// 		}

// 		> ul {
// 		  margin: 0;
// 		  height: 0;
// 		  opacity: 0;
// 		  z-index: 1902;
// 		  transition: (opacity $duration-medium $easing1);

// 		  li {
// 			margin-bottom: 1em;
// 			padding: 0;

// 			a {
// 			  line-height: 1em;
// 			}
// 		  }
// 		}

// 		&.offcanvas-has-dropdown {
// 		  margin: 35px 0;
// 		  padding: 0;
// 		  &:hover {
// 			> ul {
// 			  margin-top: 10px;
// 			  height: 100%;
// 			  opacity: 1;

// 			  li {
// 				margin-bottom: 5px;

// 				&:last-child {
// 				  margin-bottom: 0;
// 				}
// 			  }
// 			}
// 		  }


// 		  > a {


// 			&:hover {
// 			  &:after {
// 				// color: lighten($brand-black, 35%);
// 				content: "\e927";
// 			  }
// 			}

// 			&:after {
// 			  position: absolute;
// 			  content: "\e924";
// 			  color: lighten($brand-black, 0%);
// 			  transition: (all .5s ease);
// 			}
// 		  }
// 		}
// 	  }
// 	}
// }



