$baseclass: react-parallax;

.#{$baseclass} {
	&-contents, &-content {
		position: relative;
		height: 100vh;
		opacity: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		text-align: left;

		h1, h2, h3, h4, h5, p {
			color: $brand-white;
			transition: transform 0.3s $easing4;
		}
	}
	&-content {
		position: absolute !important;
		top: 0;
	}
	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}-content, .#{$baseclass}-contents {
			height: 80vh;
		}
	}
}

