.react-parallax {
	&-content {
		background: rgba($brand-black, .5);
		height: 80vh;
		display: flex;
		align-items: center;
		text-align: left;

		@media screen and (max-width: $bp-medium) {
			height: 72vh;
		}
	}
}

