@keyframes wiggle {
	16.65% {
		transform: translateY(4px) rotate(90deg);
	}
	33.3% {
		transform: translateY(-3px) rotate(90deg);
	}
	49.95% {
		transform: translateY(2px) rotate(90deg);
	}
	66.6% {
		transform: translateY(-1px) rotate(90deg);
	}
	83.25% {
		transform: translateY(1px) rotate(90deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes drawInOut {
	0% {
		transform-origin: bottom;
		transform: scaleY(1);
	}
	10% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
	11% {
		transform: scaleY(0);
		transform-origin: top;
	}
	21%, 100% {
		transform: scaleY(1);
		transform-origin: top;
	}
}

@keyframes drawOut {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}

$baseclass: scroll-arrow;
$arrow-size: 40px;

.#{$baseclass} {
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 29px;
	left: calc(50% - 32px);
	display: flex;
	align-items: center;
	flex-direction: column-reverse;

	h5, h6, i {
		color: $brand-white;
		margin: 0;

		span {
			display: inline-block;
			opacity: 1;
			transform: none;
			transition: all $duration-slow $easing2;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay: (#{0.0 + ($i * 0.09)}s);
				}
			}
		}
	}

	i {
		transform: rotate(90deg);
		font-size: 48px;
		animation: wiggle $duration-slower $easing2 infinite;
	}

	&__seperator {
		height: 60px;
		background: white;
		width: 1px;
		transform-origin: bottom;
		animation: drawInOut $easing3 5s infinite;

		&:first-child {
			margin-top: 6px;
		}
	}

	&--hidden {
		h5, h6 {
			span {
				opacity: 0;
				transform: translateY(12px);
			}
		}
		.#{$baseclass}__seperator {
			animation: drawOut $easing3 $duration-slow;
			animation-fill-mode: forwards;
		}
	}

	@media screen and (max-width: $bp-medium) {
		left: calc(50% - 47px);

		.#{$baseclass}__seperator {
			height: 90px;
		}
	}
}
