$baseclass: sidebar-container;

.#{$baseclass} {
	height: 100%;
	width: 100px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: 0;
	top: 0;
	z-index: 9999;

	p {
		font-weight: 700;
		letter-spacing: 0.012em;
		color: $brand-white;
	}

	&:hover {
		width: 280px;
	}

	.sidebar {
		width: 94px;
		padding: 0;
		transition: all $easing4 0.3s
	}

	.sidebar-item {
		width: 100%;
		height: 40px;
		line-height: 64px;
		border-bottom: none;
		overflow: hidden;
		position: relative;
		transition: height $easing4 0.3s 0.3s;
	}

	.sidebar-item a {
		width: 100%;
		height: 100%;
		// display: block;
		cursor: pointer;
		border: none;
	}

	.sidebar-item:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0%;
		background: #3d4e4d;
		z-index: -1;
		opacity: 0;
		transition: all ease-out 0.3s
	}

	.sidebar-number {
		color: darken($brand-black, 10%);
		margin: 0 16px 0 32px;
		opacity: 0;
		transform: translate3d(32px, 0, 0);
		display: inline-block;
		transition: all $easing4 0.2s
	}

	.sidebar-dash {
		margin: 0 0 0 16px;
		width: 16px;
		height: 1px;
		background-color: darken($brand-black, 10%);
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		transition: all $easing4 0.2s;
	}

	.sidebar-label {
		color: darken($brand-black, 10%);
		margin: 0 0 0 48px;
		opacity: 0;
		display: inline-block;
		transition: all $easing4 0.2s
	}

	.sidebar-border {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0%;
		height: 1px;
		background: rgba(121,131,82,0.3);
		transition: all $easing4 0.2s
	}

	.sidebar-item a.active .sidebar-dash {
		margin: 0;
		width: 34px;
		// background: #3d4e4d;
		transition-timing-function: $easing4;
		transition-duration: 0.3s;
		transition-property: margin, width;
	}

	.sidebar:hover {
		width: 100%;
		transition: all $easing4 0.3s 0.3s;

		.sidebar-item {
			height: 64px;
			transition: height $easing4 0.3s;
			// background: rgba($brand-black, .12);

			&:hover {
				&:after {
					opacity: 1;
					width: 100%;
					background: $brand-black;
				}
				.sidebar-number {
					color: $brand-white;
				}

				.sidebar-dash {
					background-color: $brand-white;
				}

				.sidebar-label {
					color: $brand-white;
				}
			}
		}

		.sidebar-number {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: all $easing4 0.4s;
			// color: $brand-white;
		}

		.sidebar-dash {
			width: 34px;
			margin: 0;
			transition: all $easing4 0.4s !important;
		}

		.sidebar-label {
			opacity: 1;
			transition: all $easing4 0.4s;
		}

		.sidebar-border {
			background: rgba(255,255,255,0.15);
			width: 100%;
			transition: all $easing4 0.4s;
		}
	}


	&.white {
		.sidebar-dash {
			background: white;
		}
		.sidebar-number {
			color: $brand-white;
		}

		.sidebar-dash {
			background-color: $brand-white;
		}

		.sidebar-label {
			color: $brand-white;
		}
	}
	@media screen and (max-width: $bp-medium) {
		.sidebar {
			.sidebar-item {
				height: 36px;
				line-height: 55px;
			}
			&:hover {
				.sidebar-item {
					height: 55px;
					line-height: 55px;
				}
			}
		}
	}
}
