$baseclass: sidebar-container;

.#{$baseclass} {
	height: calc(100vh - 120px);
	// height: 100vh;
	width: 24px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: 0;
	bottom: 0;
	z-index: 999;

	p {
		font-weight: 700;
		letter-spacing: 0.012em;
		color: $brand-white;
	}

	.sidebar {
		cursor: pointer;
		width: 94px;
		padding: 0;
		transition: all $easing4 $duration-fast
	}

	.sidebar-item {
		width: 100%;
		height: 40px;
		border-bottom: none;
		overflow: hidden;
		position: relative;
		transition: height $easing4 $duration-fast $duration-fast;

		&:last-child {
			.sidebar-border {
				// display: none;
			}
		}
		// &:first-child {
		// 	border-top: solid 1px rgba($brand-black, 0.06);
		// }
	}

	.sidebar-item a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		border: none;
		pointer-events: none;
	}

	.sidebar-item:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0%;
		opacity: 0;
		pointer-events: none;
		transition: all ease-out $duration-fast;
	}

	.sidebar-number, .sidebar-dash, .sidebar-label, .sidebar-border {
		transition: all ease-out 0.2s
	}

	.sidebar-number {
		color: darken($brand-black, 0%);
		margin: 0 16px 0 32px;
		opacity: 0;
		transform: translate3d(32px, 0, 0);
		display: inline-block;
	}

	.sidebar-label {
		position: relative;
		color: darken($brand-black, 0%);
		padding: 0 0 0 48px;
		margin: 0;
		opacity: 0;
		display: inline-block;
		white-space: nowrap;
	}


	.sidebar-dash {
		margin: 0 0 0 16px;
		width: 16px;
		height: 1px;
		background-color: darken($brand-black, 0%);
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 72px;

		// margin: 0 16px 0 0;
		// left: 24px;
	}

	.sidebar-border {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0%;
		height: 1px;
		background: rgba($brand-black, .06);
		opacity: 0;

		&__top {
			bottom: auto;
			top: 0;
		}
	}

	.sidebar-item a.active .sidebar-dash {
		margin: 0;
		width: 34px;
		// background: #3d4e4d;
		transition-timing-function: $easing4;
		transition-duration: $duration-fast;
		transition-property: margin, width;
	}

	&--white {
		.sidebar-dash {
			background: $brand-white;
		}
		&.#{$baseclass}--open {
			.sidebar-dash {
				background: $brand-black;
			}
		}
	}


	&--open {
		min-width: 280px;
		width: calc(16.667% + 40px);

		.sidebar {
			width: 100%;
			transition: all $easing4 $duration-fast $duration-fast;
			background: rgba($brand-white, 1);

			.sidebar-item {
				height: 60px;
				transition: height $easing4 $duration-fast;

				a {
					pointer-events: auto;
				}

				.sidebar-number {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					transition: all $easing4 $duration-medium;
				}

				.sidebar-dash {
					width: 34px;
					margin: 0;
					transition: all $easing4 $duration-medium;
				}

				.sidebar-label {
					opacity: 1;
					transition: all $easing4 $duration-medium;
				}

				.sidebar-border {
					opacity: 1;
					width: 100%;
					transition: all $easing4 $duration-medium;
				}


				&:hover {
					&:before {
						opacity: 1;
						width: 100%;
						background: $brand-black;
					}
					.sidebar-number {
						color: $brand-white;
					}

					.sidebar-dash {
						background-color: $brand-white;
					}

					.sidebar-label {
						color: $brand-white;
					}
				}
			}
		}
	}


	@media screen and (max-width: $bp-medium) {
		width: 24px;
		height: calc(100vh - 84px);
		// height: 100vh;

		.sidebar-item {
			height: 32px;
		}


		&.#{$baseclass}--open {
			min-width: 252px;

			.sidebar-item {
				height: 48px;
			}

			.sidebar-number {
			    // margin: 0 16px 0 24px;
			}
		}
	}
}
