@keyframes ghostIn {
	0% {
		// opacity: 0;
		transform: translate3d(0,120px,0) skewY(0deg);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes ghostOut {
	0% {
		// opacity: 1;
		transform: none;
	}
	100% {
		// opacity: 0;
		transform: translate3d(0,120px,0) skewY(0deg);
	}
}

// @keyframes fadeIn {
// 	50% {
// 		opacity: 0;
// 	}
// 	25%, 75% {
// 		opacity: 1;
// 	}
// }

// article {
// 	animation: fadeIn 0.9s $easing1;
// }

.parallax-header {
	h1 {
		// transform-origin: left center;
		// transition: all $easing1 $duration-slower;

		> span {
			overflow: hidden;
			// transition: opacity $easing1 $duration-slow, transform $easing1 $duration-slowest;
			// transition: none;
			// transform: none !important;
			// opacity: 1 !important;

			// @for $i from 1 through 60 {
			// 	&:nth-child(#{$i}) {
			// 		transition-delay: (#{0.0 + ($i * 0.09)}s);
			// 	}
			// }

			@for $i from 1 through 60 {
				&:nth-child(#{$i}) span {
					animation-delay: (#{0.6 + ($i * 0.12)}s);
				}
			}

		}

		> span > span {
			animation: ghostIn $duration-slow $easing1;
			animation-fill-mode: both;


			// @for $i from 1 through 4 {
			// 	&:nth-child(#{$i}n + 1) {
			// 		transition-delay: (#{0.0 + ($i * 0.09)}s);
			// 	}
			// }
		}
	}
}

// .react-parallax-contents {
// 	&--animating {
// 		h1 span {
// 			animation: ghostIn $duration-slow $easing1;
// 			animation-fill-mode: both;

// 			@for $i from 1 through 60 {
// 				&:nth-child(#{$i}) {
// 					animation-delay: (#{0.6 + ($i * 0.09)}s);
// 				}
// 			}
// 		}
// 	}
// }


section {
	img {
		opacity: 0;
		transition: none;
		transform: translate3d(0,120px,0);
	}

	blockquote {
		transition: none;
		opacity: 0;
	}

	.grid__item  .grid__item,
	.grid__item {
	// .grid ~ .grid__item,
	// .grid__row .grid__item {
		@for $i from 1 through 60 {
			&:nth-child(#{$i}) {
				img, video {
					transition-delay: (#{0.9 + ($i * 0.3)}s);
				}
				blockquote {
					transition-delay: (#{0.3 + ($i * 0.3)}s);
				}
			}
		}
	}

	h1, h2, p, blockquote {
		span {
			overflow: hidden;
		}
		span > span{
			transition: none;
			opacity: 0;
		}
	}

	// h1 span > span{
	// 	transform: translate3d(0,100px,0) skewY(6deg);
	// }

	h2 {
		transition: none;
		opacity: 0;

		span > span{
			transform: translate3d(0,90px,0) skewX(6deg);
		}
	}

	p, blockquote {
		span > span{
			opacity: 0;
			transform: translate3d(0,24px,0) skewX(6deg);
			transition: none;
		}
	}
}

.active-section {
	section {
		h1, h2, {
			span > span{
				transition: transform $duration-slow $easing1, opacity $duration-slow $easing1;
				opacity: 1;
				transform: none;
			}
		}

		h2 {
			opacity: 1;
			transition: transform $duration-slow $delay-medium $easing1, opacity $duration-slow $delay-medium $easing1;
		}

		h1 span, h2 span {
			@for $i from 1 through 60 {
				&:nth-child(#{$i}) span {
					transition-delay: (#{0.6 + ($i * 0.09)}s);
				}
			}
		}

		img, video {
			transition: transform $duration-slow $easing2, opacity $duration-slow $easing2;
			opacity: 1;
			transform: translate3d(0,0,0) skewX(0deg);
		}

		p, blockquote {
			opacity: 1;
			transition: transform $duration-slow $easing1, opacity $duration-slow $easing1;

			span {
				@for $i from 1 through 120 {
					&:nth-child(#{$i}) span {
						transition-delay: (#{1.2 + ($i * 0.04)}s);
					}
				}
			}

			span > span {
				opacity: 1;
				transform: translate3d(0,0,0) skewX(0deg);
				transition: all $duration-medium $easing1;

			}
		}
	}
}



// .react-parallax {
// 	opacity: 0;
//   	filter: blur(3px);
// 	clip-path: inset(60px 60px 60px 60px);


// 	@keyframes spreadOut {
// 		0% {
// 			opacity: 0;
// 			clip-path: inset(60px 60px 60px 60px);
// 			filter: blur(3px);
// 		}
// 		100% {
// 			opacity: 1;
// 			clip-path: inset(0px 0px 0px 0px);
// 			filter: blur(0px);
// 		}
// 	}

// }

