@keyframes ghostIn {
	0% {
		// opacity: 0;
		transform: translate3d(0,120px,0) skewY(0deg);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes ghostOut {
	0% {
		// opacity: 1;
		transform: none;
	}
	100% {
		// opacity: 0;
		transform: translate3d(0,120px,0) skewY(0deg);
	}
}

// @keyframes fadeIn {
// 	50% {
// 		opacity: 0;
// 	}
// 	25%, 75% {
// 		opacity: 1;
// 	}
// }

// article {
// 	animation: fadeIn 0.9s $easing1;
// }

.parallax-header {
	h1 {
		> span {
			overflow: hidden;

			@for $i from 1 through 60 {
				&:nth-child(#{$i}) span {
					animation-delay: (#{0.6 + ($i * 0.12)}s);
				}
			}
		}

		> span > span {
			animation: ghostIn $duration-slow $easing1;
			animation-fill-mode: both;
		}
	}
}



section {
	img {
		opacity: 0;
		transition: none;
		transform: translate3d(0,120px,0);
	}

	blockquote {
		transition: none;
		opacity: 0;
	}

	.grid__item  .grid__item,
	.grid__item {
		@for $i from 1 through 60 {
			&:nth-child(#{$i}) {
				img, video {
					transition-delay: (#{0.9 + ($i * 0.3)}s);
				}
				blockquote {
					transition-delay: (#{0.3 + ($i * 0.3)}s);
				}
			}
		}
	}

	h2, h3, h4, p, blockquote {
		span {
			overflow: hidden;

			> span {
				transition: none;
				opacity: 0;
			}
		}
	}

	// h1 span > span{
	// 	transform: translate3d(0,100px,0) skewY(6deg);
	// }

	h2, h3, h4 {
		transition: none;
		opacity: 0;

		span > span {
			transform: translate3d(0,90px,0) skewX(6deg);
		}
	}

	p, blockquote {
		span > span{
			opacity: 0;
			transform: translate3d(0,100%,0) skewX(6deg);
			transition: none;
		}
	}
}

.active-section {
	section {
		h2, h3, h4 {
			opacity: 1;
			transition: transform $duration-slow $delay-medium $easing1, opacity $duration-slow $delay-medium $easing1;

			span > span {
				transition: transform $duration-slow $easing1, opacity $duration-slow $easing1;
				opacity: 1;
				transform: none;
			}
		}

		h3 {
			transition-delay: $delay-slow;
		}

		h4 {
			transition-delay: $delay-slowest;
		}

		h2, h3 {
			span {
				@for $i from 1 through 60 {
					&:nth-child(#{$i}) span {
						transition-delay: (#{0.6 + ($i * 0.09)}s);
					}
				}
			}
		}

		img, video {
			transition: transform $duration-slow $easing2, opacity $duration-slow $easing2;
			opacity: 1;
			transform: translate3d(0,0,0) skewX(0deg);
		}

		p, blockquote {
			opacity: 1;
			transition: transform $duration-slow $easing1, opacity $duration-slow $easing1;

			span {
				@for $i from 1 through 120 {
					&:nth-child(#{$i}) span {
						transition-delay: (#{1.2 + ($i * 0.04)}s);
					}
				}
			}

			span > span {
				opacity: 1;
				transform: translate3d(0,0,0) skewX(0deg);
				transition: all $duration-medium $easing1;

			}
		}
	}
}


