* {
	box-sizing: border-box;
}

html {
	// width: 100%;
}

body {
	-webkit-overflow-scrolling: touch;
	// -webkit-font-smoothing: subpixel-antialiased;
}


*::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

section {
	height: 100vh;
	display: flex;
	align-items: center;
}

img {
	width: 100%;
}

h1 {
	@keyframes ghostHeader {
		0% {
			opacity: 0;
			transform: translate3d(0,100px,0) skewX(6deg);
		}
		100% {
			opacity: 1;
			transform: translate3d(0,0,0) skewX(0deg);
		}
	}

	span {
		display: inline-block;
		opacity: 0;
		transform: translate3d(0,60px,0) skewX(6deg);
		animation: ghostHeader $duration-slow $easing1;
		animation-fill-mode: forwards;

		@for $i from 1 through 30 {
			&:nth-child(#{$i}) {
				animation-delay: (#{1.8 + ($i * 0.06)}s);
			}
		}
	}
}

.react-parallax {
	// opacity: 0;
  	// filter: blur(3px);
	// clip-path: inset(60px 60px 60px 60px);
	

	@keyframes spreadOut {
		0% {
			opacity: 0;
			// clip-path: inset(60px 60px 60px 60px);
			filter: blur(3px);
		}
		100% {
			opacity: 1;
			// clip-path: inset(0px 0px 0px 0px);
		  	filter: blur(0px);
		}
	}

}

