* {
	box-sizing: border-box;
}

html {
	// width: 100%;
}

body {
	-webkit-overflow-scrolling: touch;
	// -webkit-font-smoothing: subpixel-antialiased;
}


*::-webkit-scrollbar {
	width: 0px;
	background: transparent; 
}

section {
	min-height: 100vh;
	height: auto;
	display: flex;
	align-items: center;

	&.black {
		background: darken($brand-black, 2%);


	}
}

img {
	width: 100%;
}

@keyframes ghostHeader {
	0% {
		opacity: 0;
		transform: translate3d(0,100px,0) skewX(6deg);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0) skewX(0deg);
	}
}

@keyframes ghostHeaderSm {
	0% {
		opacity: 0;
		transform: translate3d(0,40px,0) skewX(6deg);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0) skewX(0deg);
	}
}


h1, h2, p, {
	span {
		display: inline-block;
		opacity: 0;
	}
}

.active-section {
	h1, h2, {
		span {
			animation: ghostHeader $duration-slow $easing1;
			animation-fill-mode: forwards;

			@for $i from 1 through 60 {
				&:nth-child(#{$i}) {
					animation-delay: (#{0.6 + ($i * 0.06)}s);
				}
			}
		}
	}

	p {
		span {
			animation: ghostHeaderSm $duration-slow $easing1;
			animation-fill-mode: forwards;

			@for $i from 1 through 120 {
				&:nth-child(#{$i}) {
					animation-delay: (#{1.2 + ($i * 0.06)}s);
				}
			}
		}
	}
}

.react-parallax {
	// opacity: 0;
  	// filter: blur(3px);
	// clip-path: inset(60px 60px 60px 60px);
	

	@keyframes spreadOut {
		0% {
			opacity: 0;
			// clip-path: inset(60px 60px 60px 60px);
			filter: blur(3px);
		}
		100% {
			opacity: 1;
			// clip-path: inset(0px 0px 0px 0px);
			filter: blur(0px);
		}
	}

}

