* {
	box-sizing: border-box;
}

html {
	// width: 100%;
}

body {
	background: $brand-white;
	-webkit-overflow-scrolling: touch;
}

.active-section {
	position: relative;
}

*::-webkit-scrollbar {
	width: 0px;
	background: transparent; 
}

section {
	padding: 72px 0;
	min-height: 100vh;
	height: auto;
	display: flex;
	align-items: center;
	background: $brand-white;

	img {
		width: 100%;
	}

	&.black {
		background: darken($brand-black, 2%);

		h1, h2, h3, h4, h5, h6, p {
			color: $brand-white;
		}
	}
}

h1, h2, p, {
	span {
		display: inline-block;
	}
}

