@font-face {
	font-family: 'Circular Std';
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/CircularStd/CircularStd-Black.eot');
	src: url('../fonts/CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Black.woff2') format('woff2'), 
	url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'), 
	url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype'),
	url('../fonts/CircularStd/CircularStd-Black.svg#codropsicons') format('svg');
}

// @font-face {
// 	font-family: 'Circular Std';
// 	font-weight: 400;
// 	font-style: normal;
// 	src: url('../fonts/CircularStd/CircularStd-Book.eot');
// 	src: url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2'), 
// 	url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'), 
// 	url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype'),
// 	url('../fonts/CircularStd/CircularStd-Book.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Circular Std';
// 	font-weight: 500;
// 	font-style: normal;
// 	src: url('../fonts/CircularStd/CircularStd-Medium.eot');
// 	src: url('../fonts/CircularStd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'), 
// 	url('../fonts/CircularStd/CircularStd-Medium.woff') format('woff'), 
// 	url('../fonts/CircularStd/CircularStd-Medium.ttf') format('truetype'),
// 	url('../fonts/CircularStd/CircularStd-Medium.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 900;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-Black.eot');
// 	src: url('../fonts/Averta/Averta-Black.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-Black.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-Black.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-Black.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-Black.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 800;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-ExtraBold.eot');
// 	src: url('../fonts/Averta/Averta-ExtraBold.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-ExtraBold.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-ExtraBold.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-ExtraBold.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-ExtraBold.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 700;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-Bold.eot');
// 	src: url('../fonts/Averta/Averta-Bold.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-Bold.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-Bold.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-Bold.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-Bold.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 600;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-Semibold.eot');
// 	src: url('../fonts/Averta/Averta-Semibold.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-Semibold.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-Semibold.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-Semibold.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-Semibold.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 400;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-Regular.eot');
// 	src: url('../fonts/Averta/Averta-Regular.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-Regular.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-Regular.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-Regular.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-Regular.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'Averta';
// 	font-weight: 300;
// 	font-style: normal;
// 	src: url('../fonts/Averta/Averta-Thin.eot');
// 	src: url('../fonts/Averta/Averta-Thin.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/Averta/Averta-Thin.woff2') format('woff2'), 
// 	url('../fonts/Averta/Averta-Thin.woff') format('woff'), 
// 	url('../fonts/Averta/Averta-Thin.ttf') format('truetype'),
// 	url('../fonts/Averta/Averta-Thin.svg#codropsicons') format('svg');
// }


@font-face {
	font-family: 'Moderat';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Moderat/Moderat-Bold.eot');
	src: url('../fonts/Moderat/Moderat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Moderat/Moderat-Bold.woff2') format('woff2'), 
	url('../fonts/Moderat/Moderat-Bold.woff') format('woff'), 
	url('../fonts/Moderat/Moderat-Bold.ttf') format('truetype'),
	url('../fonts/Moderat/Moderat-Bold.svg#codropsicons') format('svg');
}


@font-face {
	font-family: 'Averta';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Averta/Averta-Regular.eot');
	src: url('../fonts/Averta/Averta-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Averta/Averta-Regular.woff2') format('woff2'), 
	url('../fonts/Averta/Averta-Regular.woff') format('woff'), 
	url('../fonts/Averta/Averta-Regular.ttf') format('truetype'),
	url('../fonts/Averta/Averta-Regular.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'GT Sectra Display';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.eot');
	src: url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.woff2') format('woff2'), 
	url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.woff') format('woff'), 
	url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.ttf') format('truetype'),
	url('../fonts/GTSectraDisplay/GTSectraDisplay-Regular.svg#codropsicons') format('svg');
}


@font-face {
	font-family: 'Campton';
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/Campton/Campton-Bold.eot');
	src: url('../fonts/Campton/Campton-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Campton/Campton-Bold.woff2') format('woff2'), 
	url('../fonts/Campton/Campton-Bold.woff') format('woff'), 
	url('../fonts/Campton/Campton-Bold.ttf') format('truetype'),
	url('../fonts/Campton/Campton-Bold.svg#codropsicons') format('svg');
}

// @font-face {
// 	font-family: 'GTWalsheim';
// 	font-weight: 400;
// 	font-style: normal;
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.eot');
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.woff2') format('woff2'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.woff') format('woff'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.ttf') format('truetype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Regular.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'GTWalsheim';
// 	font-weight: 500;
// 	font-style: normal;
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.eot');
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.woff2') format('woff2'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.woff') format('woff'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.ttf') format('truetype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Medium.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'GTWalsheim';
// 	font-weight: 700;
// 	font-style: normal;
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.eot');
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.woff2') format('woff2'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.woff') format('woff'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.ttf') format('truetype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Bold.svg#codropsicons') format('svg');
// }

// @font-face {
// 	font-family: 'GTWalsheim';
// 	font-weight: 800;
// 	font-style: normal;
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.eot');
// 	src: url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.eot?#iefix') format('embedded-opentype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.woff2') format('woff2'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.woff') format('woff'), 
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.ttf') format('truetype'),
// 	url('../fonts/GTWalsheim/GT-Walsheim-Pro-Ultra-Bold.svg#codropsicons') format('svg');
// }


