@media screen and (max-width: $bp-xlarge) {
	h1 {
		font-size: 108px;
	}
	h2 {
		font-size: 96px;
	}

	section {
		padding: 108px 0;
	}

	.grid {
		padding: 0 72px;
	}

	@include grid-at-bp(xlarge);
}

@media screen and (max-width: $bp-large) {
	h1 {
		font-size: 96px;
	}
	h2 {
		font-size: 72px;
	}

	section {
		padding: 96px 0;
	}

	.grid {
		padding: 0 60px;
	}

	@include grid-at-bp(large);
}

@media screen and (max-width: $bp-medium) {
	body {
		cursor: auto !important;
	}
	.cursor {
		display: none;
	}
	.active-section .logo {
		display: none;
	}
	.spacer {
		display: none;
	}
	.grid {
		padding: 0 24px;
	}
	.left-rail {
		top: 36px;
		width: 49px;
	}
	.grid {
		&--lines {
			padding-right: 48px;
		}

		&__line {
			&:first-child {
				border-left: solid 1px;
			}
			&:last-child {
				border-right: solid 1px;
			}
		}

		&__row {
			margin-bottom: 24px;
		}
	}

	@include grid-at-bp(medium);

	section {
		padding: 60px 0;

		p {
			transform: none;
			height: auto;
		}

		.shift {
			&--left {
				transform: none;
			}
		}
	}

	h1 {
		font-size: 60px;
		margin-left: 0;
		margin-bottom: 24px;
		letter-spacing: $letter-spacing-xs;
	}

	h2 {
		font-size: 48px;
		margin-left: 0;
		margin-bottom: 18px;
	}

	h3 {
		font-size: 40px;
		margin-bottom: 12px;
	}

	h4 {
		font-size: 32px;
	}
}


@media screen and (max-width: $bp-small) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 26px;
	}
	
	blockquote {
		font-size: 19px;
		margin-bottom: 21px;
	}
}


@media screen and (max-width: $bp-xsmall) {
	// h1 {
	// 	font-size: 48px;
	// }

	// h2 {
	// 	font-size: 34px;
	// }

	// h3 {
	// 	font-size: 28px;
	// }

	// h4 {
	// 	font-size: 21px;
	// }
}