@media screen and (max-width: $bp-desktop) {
	h1 {
		font-size: 72px;
	}
	h2 {
		font-size: 60px;
	}
}

@media screen and (max-width: $bp-medium) {
	body {
		cursor: auto !important;
	}
	.cursor {
		display: none;
	}
	.active-section .logo {
		display: none;
	}
	.spacer {
		display: none;
	}
	.grid, section .side-scroller {
		padding: 0 24px;
	}
	.grid {
		&--lines {
			padding: 0 48px;
		}

		&__line {
			&:first-child {
				border-left: solid 1px;
			}
			&:last-child {
				border-right: solid 1px;
			}
		}

		&__row {
			margin-bottom: 24px;
		}

		&__item {
			&--hide-bp-medium {
				display: none;
			}   
			&--col-1-medium {
				min-width: 8.33%;
				width: 8.33%;
			}
			&--col-2-medium {
				min-width: 16.66%;
				width: 16.66%;
			}
			&--col-3-medium {
				min-width: 25%;
				width: 25%;
			}
			&--col-4-medium {
				min-width: 33.33%;
				width: 33.33%;
			}
			&--col-5-medium {
				min-width: 41.66%;
				width: 41.66%;
			}
			&--col-6-medium {
				min-width: 50%;
				width: 50%;
			}
			&--col-7-medium {
				min-width: 58.33%;
				width: 58.33%;
			}
			&--col-8-medium {
				min-width: 66.66%;
				width: 66.66%;
			}
			&--col-9-medium {
				min-width: 75%;
				width: 75%;
			}
			&--col-10-medium {
				min-width: 83.33%;
				width: 83.33%;
			}
			&--col-11-medium {
				min-width: 91.66%;
				width: 91.66%;
			}
			&--col-12-medium {
				min-width: 100%;
				width: 100%;
			}  
		}
	}

	section {
		padding: 60px 0;

		p {
			transform: none;
			height: auto;
		}

		.shift {
			&--left {
				transform: none;
			}
		}
	}

	h1 {
		font-size: 60px;
		margin-left: 0;
		margin-bottom: 24px;
		letter-spacing: $letter-spacing-xs;
	}

	h2 {
		font-size: 48px;
		margin-left: 0;
		margin-bottom: 18px;
	}

	h3 {
		font-size: 40px;
		margin-bottom: 12px;
	}

	h4 {
		font-size: 32px;
	}
}


@media screen and (max-width: $bp-small) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 34px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 24px;
	}
	
	blockquote {
		font-size: 19px;
		margin-bottom: 21px;
	}
}


@media screen and (max-width: $bp-xsmall) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 34px;
	}

	// h3 {
	// 	font-size: 28px;
	// }

	// h4 {
	// 	font-size: 21px;
	// }
}