body, button, input, select, textarea {
	font-variant-ligatures: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

a {
	color: $brand-black;  
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6, p {
	letter-spacing: -0.006em;
	font-family: $font-primary;
	color: inherit;

	&.uppercase {
		letter-spacing: $letter-spacing-sm;
		text-transform: uppercase;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 {
	font-size: 7vw;
	line-height: 1.3;
	margin-left: -5px;
	margin-bottom: 40px;

	.outline {
		color: transparent;
		-webkit-text-stroke: 1px $brand-white;
	}
}

h2 {
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 36px;
}

h3 {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 24px;
}

h4 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 36px;
}

h5 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}

h6 {
	font-size: 12px;
	line-height: 14px;
}

p {
	color: $brand-grey-dark;
	font-size: 16px;
	line-height: 1.3;
	white-space: pre-line;
	margin-bottom: 24px;
}
