body, button, input, select, textarea {
	font-variant-ligatures: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	font-family: $font-secondary;
	letter-spacing: -0.006em;
}

h1, h2, h3, h4, h5, h6, h7, blockquote, p {
	color: inherit;

	&.uppercase {
		letter-spacing: $letter-spacing-md;
		text-transform: uppercase;
	}

	&.initial-caps {
		text-transform: capitalize;
	}

	&.mr {
		margin-right: 36px;
	}

	&.light {
		font-weight: 400;
	}

	&.fade {
		.active-section section & {
			opacity: 0.5;
		}
	}

	.outline {
		color: transparent;
		-webkit-text-stroke: 1px;
	}
}

html {
	font-size: $rem-base;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: $font-primary;

	span {
		white-space: pre;
	}
}

h1, h2, h3, h4 {
	font-weight: 400;
}

h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: px-to-rem(108px);
	line-height: 1.1;
	// margin-left: 2 * $letter-spacing-xs;
	margin-bottom: 48px;
	letter-spacing: $letter-spacing-xs;
}

h2 {
	font-size: px-to-rem(96px);
	line-height: 1.1;
	margin-bottom: 36px;
	// margin-left: 2 * $letter-spacing-xs;
	letter-spacing: $letter-spacing-xxs;
}

h3 {
	font-size: px-to-rem(72px);
	line-height: 1.1;
	margin-bottom: 24px;
	letter-spacing: $letter-spacing-sm;
}

h4 {
	font-size: px-to-rem(36px);
	line-height: 1.1;
	margin-bottom: 18px;
	letter-spacing: $letter-spacing-md;
}

h5 {
	font-size: px-to-rem(16px);
	line-height: 1.2;
	margin-bottom: 9px;
}

h6 {
	font-size: px-to-rem(14px);
	line-height: 1.2;
	margin-bottom: 6px;
}


p {
	font-family: $font-secondary;
	// color: $brand-grey-darkest;
	font-size: px-to-rem(16px);
	line-height: 1.61803398875;
	white-space: pre-line;
	margin-bottom: 24px;
}

blockquote {
	font-family: $font-secondary;
	font-size: px-to-rem(21px);
	line-height: 1.61803398875;
	white-space: pre-line;
	display: inline-flex;
	flex-wrap: wrap;
	margin-bottom: 36px;
	letter-spacing: $letter-spacing-md;

	// margin-right: 32px;
}

.drop-caps {
	display: inline-block;

	&:first-letter {
		float: left;
		font-size: 60px;
		font-family: $font-primary;
		font-weight: 800;
		margin: 0 24px 0 0;
		padding-top: 9px;
		line-height: 48px;
	}
}
