$bp-xlarge: 1280px;
$bp-large: 1024px;
$bp-medium: 800px;
$bp-small: 480px;
$bp-xsmall: 320px;

$rem-base: 12px;

$font-primary: 'Smitten', sans-serif;
$font-secondary: 'Moderat', sans-serif;
$font-mono: 'Roboto Mono', monospace;
// $font-tertiary: 'Hurme', sans-serif;
// $font-serif: 'GT Sectra Display', serif;

$brand-red: #ff3636;
// $brand-red: #ff483c;
// $brand-red: #ff4716;
// $brand-red: #e04e47;
$brand-orange: #f9763e;
$brand-yellow: #F3B600;
// $brand-yellow: #F4E285;
$brand-green: #7EAF53;
$brand-purple: #7366FB;
$brand-pink: #FED1CF;
$brand-blue: #00CAE0;
$brand-teal: #0AB489;;

$brand-black: darken(#232021, 6%);
$brand-grey-darkest: darken(#232021, 3%);
$brand-grey-dark: #232021;

$brand-white: lighten(#F8FBF7, 0%);
$brand-grey-lightest: mix($brand-white, $brand-black, 94%);
$brand-grey-light: mix($brand-white, $brand-black, 88%);

$letter-spacing-xs: -0.036em;
$letter-spacing-sm: -0.024em;
$letter-spacing-md: -0.012em;
$letter-spacing-lg: 0.024em;
$letter-spacing-xl: 0.06em;

$easing1: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing2: cubic-bezier(.19,1,.22,1);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing5: cubic-bezier(0.7, 0, 0.3, 1);
$easing6: cubic-bezier(.77,0,.175,1);

$duration-short: 0.3s;
$duration-medium: 0.6s;
$duration-long: 0.9s;
$duration-longer: 1.2s;
$duration-longest: 1.8s;

$delay-short: 0.06s;
$delay-medium: 0.09s;
$delay-long: 0.12s;
$delay-longer: 0.18s;
$delay-longest: 0.24s;

$scrolling-section-classname: "scrolling-section";

