$bp-xlarge: 1800px;
$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 480px;
$bp-xsmall: 320px;

$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Moderat', sans-serif;
$font-tertiary: 'Campton', sans-serif;
$font-serif: 'GT Sectra Display', serif;

// $brand-red: #ff483c;
// $brand-red: #ff4716;
$brand-red: #ff3636;
$brand-purple: #7366fb;
$brand-green: #8CB369;
$brand-yellow: #F4E285;
$brand-orange: #fd8451;
$brand-pink: #fed1cf;

$brand-white: lighten(#F8FBF7, 1%);
$brand-grey-lightest: #F4F4F0;
$brand-grey-light: #DEDEDC;
$brand-grey-medium: #81717A;
$brand-grey-dark: #595358;
$brand-grey-darkest: #333031;
$brand-black: darken(#232021, 6%);

$letter-spacing-xs: -0.018em;
$letter-spacing-sm: -0.012em;
$letter-spacing-md: 0.006em;
$letter-spacing-lg: 0.06em;
$letter-spacing-xl: 0.08em;

$easing1: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing2: cubic-bezier(.19,1,.22,1);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing5: cubic-bezier(0.7, 0, 0.3, 1);

$duration-fast: 0.3s;
$duration-medium: 0.6s;
$duration-slow: 0.9s;
$duration-slower: 1.2s;
$duration-slowest: 1.8s;

$delay-fast: 0.06s;
$delay-medium: 0.09s;
$delay-slow: 0.12s;
$delay-slower: 0.18s;


$scrolling-section-classname: "scrolling-section";