$brand-grey-dark: #888B8D;
$brand-grey-light: #D8D8D8;
$brand-gold: #A99A69;

.depuy-synthes {
	font-family: "Circular Std";
	background-color: #50738C;	

	.section-hero .hero-background {
		background: #1E5789;
		background: -webkit-gradient(linear, left top, left bottom, from(#50738C), color-stop(80%, #1E5789), to(#1E5789));
		background: -webkit-linear-gradient(top, #50738C 0%, #1E5789 80%, #1E5789 100%);
		background: linear-gradient(to bottom, #50738C 0%, #1E5789 80%, #1E5789 100%);
	}

	h1, h2, h3, h4, h5, h6 {
		color: #FFF;
	}

	p {
		margin-right: 3%;
	}

	* {
		font-family: "Circular Std";
	}

	.typography-intro {
		color: #FFF;
	}

	.typography-tile-copy, .typography-tile-subheader {
		font-family: "Circular Std";
		font-size: 19px;
		color: #5A6771;
		letter-spacing: .006em;
	}

	.typography-tile-subheader {
		color: $brand-gold;
	}

	.violator-secondary {
		border-color: #FFF;
		color: #FFF;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		border-radius: 0;
		padding: 12px 24px;
	}
	.sticky-nav {
		a {
			color: $brand-grey-dark; 
			font-weight: 500;
			letter-spacing: 0.012em;
			font-size: 14px;
			opacity: 0.6;

			&:hover {
				color: $brand-gold;
				opacity: 1;
			}

			&.active {
				color: #1E5789 !important;
				opacity: 1;
			}
		}
		ul {
			border-left: solid 1px $brand-grey-light;
		}
		li {
			padding: 6px 0 6px 0;
		}

		.line {
			background: #1E5789;
			// padding: 6px 0;
			margin-top: 12px;
			height: 5px;
			width: 9px;
			border-radius: 12px;
			left: -4.5px;
		}	
	}
	

	.header-sticky, .header-sticky-color, .header-sticky p {
		color: #5A6771;
		font-weight: 400;
	}

	h1, h2, h3, h4, h5 {
		&.typography-headline span {
			font-weight: 700;
		}
	}

	.tile-group-competitions .tile-header, .tile-group-competitions .typography-tile-subheader {
		color: $brand-gold;	
	}

	button {
		color: $brand-gold;
		border: solid 1px;
		text-transform: uppercase;
		padding: 12px 24px;
		margin: 60px 9px 0 0;
		font-size: 14px;

		&:last-child {
			background: $brand-gold;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.sticky-nav-container .sticky-nav-bg {
		// background: none;
	}


	.tile {
		border-radius: 0px;

		.figure-container {
			width: 480px;
			height: 432px;
			margin: 0 auto 58px;
		}
	}

	.image-knee {
		min-width: 484px;
		height: 432px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.image-knee1 {
		background-image: url(../img/knee1.png);
	}

	.image-knee2 {
		background-image: url(../img/knee2.png);
		min-width: 460px;
		height: 360px;
	}

	.image-knee3 {
		background-image: url(../img/knee3.png);
	}

	.tile-group-competitions .tile-trophy, .tile-group-workout .tile-yoga {
		background: #fafafa;
	}

	.tile-group-competitions .tile-trophy .copy, .tile-group-workout .copy {
		color: #5A6771;
	}

	.typography-line {
		background: $brand-gold;
		height: 9px;
		width: 120px;
		margin-bottom: 24px;
	}

	.image-bands {
		display: none;
	}

	&--timeline {
		
	}
}

