/* Vendor */
/* Vendors */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Libraries */
/*@font-face {
	font-family: 'Circular Std';
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/CircularStd/CircularStd-Black.eot');
	src: url('../fonts/CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Black.woff2') format('woff2'), 
	url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'), 
	url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype'),
	url('../fonts/CircularStd/CircularStd-Black.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Circular Std';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/CircularStd/CircularStd-Book.eot');
	src: url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2'), 
	url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'), 
	url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype'),
	url('../fonts/CircularStd/CircularStd-Book.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Circular Std';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/CircularStd/CircularStd-Medium.eot');
	src: url('../fonts/CircularStd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'), 
	url('../fonts/CircularStd/CircularStd-Medium.woff') format('woff'), 
	url('../fonts/CircularStd/CircularStd-Medium.ttf') format('truetype'),
	url('../fonts/CircularStd/CircularStd-Medium.svg#codropsicons') format('svg');
}*/
@font-face {
  font-family: 'Averta';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Averta/Averta-Black.eot");
  src: url("../fonts/Averta/Averta-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-Black.woff2") format("woff2"), url("../fonts/Averta/Averta-Black.woff") format("woff"), url("../fonts/Averta/Averta-Black.ttf") format("truetype"), url("../fonts/Averta/Averta-Black.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Averta';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Averta/Averta-ExtraBold.eot");
  src: url("../fonts/Averta/Averta-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-ExtraBold.woff2") format("woff2"), url("../fonts/Averta/Averta-ExtraBold.woff") format("woff"), url("../fonts/Averta/Averta-ExtraBold.ttf") format("truetype"), url("../fonts/Averta/Averta-ExtraBold.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Averta';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Averta/Averta-Bold.eot");
  src: url("../fonts/Averta/Averta-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta/Averta-Bold.woff") format("woff"), url("../fonts/Averta/Averta-Bold.ttf") format("truetype"), url("../fonts/Averta/Averta-Bold.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Averta';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Averta/Averta-Semibold.eot");
  src: url("../fonts/Averta/Averta-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta/Averta-Semibold.woff") format("woff"), url("../fonts/Averta/Averta-Semibold.ttf") format("truetype"), url("../fonts/Averta/Averta-Semibold.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Averta';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Averta/Averta-Regular.eot");
  src: url("../fonts/Averta/Averta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta/Averta-Regular.woff") format("woff"), url("../fonts/Averta/Averta-Regular.ttf") format("truetype"), url("../fonts/Averta/Averta-Regular.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Averta';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Averta/Averta-Thin.eot");
  src: url("../fonts/Averta/Averta-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta/Averta-Thin.woff2") format("woff2"), url("../fonts/Averta/Averta-Thin.woff") format("woff"), url("../fonts/Averta/Averta-Thin.ttf") format("truetype"), url("../fonts/Averta/Averta-Thin.svg#codropsicons") format("svg"); }

/* SASS partial for grunt-webfont, autogenerated, do not edit! */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.iconcss {
  font-family: "icons";
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\EA01"; }

.icon-arrow-right:before {
  content: "\EA02"; }

.icon-download:before {
  content: "\EA03"; }

.icon-patient:before {
  content: "\EA04"; }

.icon-hcp:before {
  content: "\EA05"; }

.icon-facebook:before {
  content: "\EA06"; }

.icon-twitter:before {
  content: "\EA07"; }

.icon-youtube:before {
  content: "\EA08"; }

.icon-linkedin:before {
  content: "\EA09"; }

.icon-arrow-long-right:before {
  content: "\EA10"; }

.icon-arrow-long-left:before {
  content: "\EA11"; }

.icon-caret-down-lg:before {
  content: "\EA12"; }

.icon-caret-down-sm:before {
  content: "\EA13"; }

.icon-close-lg:before {
  content: "\EA14"; }

.icon-refresh:before {
  content: "\EA15"; }

.icon-plus:before {
  content: "\EA16"; }

.icon-minus:before {
  content: "\EA17"; }

.icon-play:before {
  content: "\EA18"; }

.icon-mail:before {
  content: "\EA19"; }

.icon-link:before {
  content: "\EA20"; }

.icon-share:before {
  content: "\EA21"; }

.icon-science-water:before {
  content: "\EA22"; }

.icon-facilities-hospital:before {
  content: "\EA23"; }

.icon-core-Heart:before {
  content: "\EA24"; }

.icon-products-bandage:before {
  content: "\EA25"; }

.icon-people-environment:before {
  content: "\EA26"; }

.icon-health-stethoscope:before {
  content: "\EA27"; }

.icon-science-brain:before {
  content: "\EA28"; }

.icon-communication-calendar:before {
  content: "\EA29"; }

.icon-innovation-idea:before {
  content: "\EA30"; }

.icon-innovation-partnership:before {
  content: "\EA31"; }

.icon-people-community:before {
  content: "\EA32"; }

.icon-health-cross:before {
  content: "\EA33"; }

.icon-hearing-impaired:before {
  content: "\EA34"; }

.icon-scroll:before {
  content: "\EA35"; }

.icon-pan:before {
  content: "\EA36"; }

.icon-click:before {
  content: "\EA37"; }

.icon-home-logo:before {
  content: "\EA38"; }

.icon-checkmark:before {
  content: "\EA39"; }

.icon-camera:before {
  content: "\EA40"; }

.icon-search-2:before {
  content: "\EA41"; }

.icon-close-sm:before {
  content: "\EA42"; }

.icon-bell:before {
  content: "\EA43"; }

.icon-chat:before {
  content: "\EA44"; }

.icon-star-outline:before {
  content: "\EA45"; }

.icon-star-fill:before {
  content: "\EA46"; }

.icon-todo-check:before {
  content: "\EA47"; }

.icon-concur:before {
  content: "\EA48"; }

.icon-yammer:before {
  content: "\EA49"; }

.icon-workday:before {
  content: "\EA50"; }

.icon-plane:before {
  content: "\EA51"; }

.icon-calendar:before {
  content: "\EA52"; }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px; }
  .grid--lines {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    opacity: 0.6; }
  .grid__line {
    color: rgba(222, 222, 220, 0.8);
    border-right: solid 1px;
    height: 100vh;
    pointer-events: none;
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    animation: drawIn 0.9s 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    -ms-transform-origin: top;
    transform-origin: top; }
    .grid__line:first-child {
      border-left: solid 1px; }
    .grid__line:nth-child(1n + 1) {
      animation-delay: 0.09s; }
    .grid__line:nth-child(2n + 2) {
      animation-delay: 0.18s; }
    .grid__line:nth-child(3n + 3) {
      animation-delay: 0.27s; }
    .grid__line:nth-child(4n + 4) {
      animation-delay: 0.36s; }

@keyframes drawIn {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
  .grid__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
    .grid__item--col-1 {
      width: 8.33%; }
    .grid__item--col-2 {
      width: 16.66%; }
    .grid__item--col-3 {
      width: 25%; }
    .grid__item--col-4 {
      width: 33.33%; }
    .grid__item--col-5 {
      width: 41.66%; }
    .grid__item--col-6 {
      width: 50%; }
    .grid__item--col-7 {
      width: 58.33%; }
    .grid__item--col-8 {
      width: 66.66%; }
    .grid__item--col-9 {
      width: 75%; }
    .grid__item--col-10 {
      width: 83.33%; }
    .grid__item--col-11 {
      width: 91.66%; }
    .grid__item--col-12 {
      width: 100%; }

body, button, input, select, textarea {
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  -webkit-font-smoothing: subpixel-antialiased; }

.title {
  font-weight: 800;
  letter-spacing: -0.006em; }

.subtitle {
  letter-spacing: -0.012em;
  font-weight: 400; }

a {
  text-decoration: none;
  outline: none; }

@keyframes hideMenu {
  0% {
    transform: translateX(0);
    width: 25%; }
  50% {
    transform: translateX(-100%);
    width: 25%; }
  100% {
    transform: translateX(-100%);
    width: 0px;
    padding: 0px; } }

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: -0.006em;
  font-family: "Averta", sans-serif;
  color: #232021; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, p.white {
    color: white; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; }

p {
  font-size: 16px;
  line-height: 1.3; }

h1 {
  font-size: 6.5vw;
  line-height: 1.2;
  margin-left: -5px; }
  h1.mb {
    margin-bottom: 40px; }

h2 {
  font-size: 40px;
  line-height: 1.2; }
  h2.mb {
    margin-bottom: 24px; }

h3 {
  font-size: 30px;
  line-height: 1.2; }

h4 {
  font-size: 24px;
  line-height: 36px; }

h5 {
  font-size: 16px;
  line-height: 24px; }

h6 {
  font-size: 12px;
  line-height: 14px; }

h1.eyebrow, h2.eyebrow, h3.eyebrow, h4.eyebrow, h5.eyebrow, h6.eyebrow {
  text-transform: uppercase; }

.tag {
  margin-right: 0.75em; }

* {
  box-sizing: border-box; }

body {
  -webkit-overflow-scrolling: touch; }

*::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

section {
  min-height: 100vh;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  section.black {
    background: #1e1b1c; }

img {
  width: 100%; }

h1 span, h2 span, p span {
  transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: inline-block;
  opacity: 0; }

h1 span, h2 span {
  transform: translate3d(0, 100px, 0) skewX(6deg); }
  h1 span:nth-child(1), h2 span:nth-child(1) {
    transition-delay: 0.69s; }
  h1 span:nth-child(2), h2 span:nth-child(2) {
    transition-delay: 0.78s; }
  h1 span:nth-child(3), h2 span:nth-child(3) {
    transition-delay: 0.87s; }
  h1 span:nth-child(4), h2 span:nth-child(4) {
    transition-delay: 0.96s; }
  h1 span:nth-child(5), h2 span:nth-child(5) {
    transition-delay: 1.05s; }
  h1 span:nth-child(6), h2 span:nth-child(6) {
    transition-delay: 1.14s; }
  h1 span:nth-child(7), h2 span:nth-child(7) {
    transition-delay: 1.23s; }
  h1 span:nth-child(8), h2 span:nth-child(8) {
    transition-delay: 1.32s; }
  h1 span:nth-child(9), h2 span:nth-child(9) {
    transition-delay: 1.41s; }
  h1 span:nth-child(10), h2 span:nth-child(10) {
    transition-delay: 1.5s; }
  h1 span:nth-child(11), h2 span:nth-child(11) {
    transition-delay: 1.59s; }
  h1 span:nth-child(12), h2 span:nth-child(12) {
    transition-delay: 1.68s; }
  h1 span:nth-child(13), h2 span:nth-child(13) {
    transition-delay: 1.77s; }
  h1 span:nth-child(14), h2 span:nth-child(14) {
    transition-delay: 1.86s; }
  h1 span:nth-child(15), h2 span:nth-child(15) {
    transition-delay: 1.95s; }
  h1 span:nth-child(16), h2 span:nth-child(16) {
    transition-delay: 2.04s; }
  h1 span:nth-child(17), h2 span:nth-child(17) {
    transition-delay: 2.13s; }
  h1 span:nth-child(18), h2 span:nth-child(18) {
    transition-delay: 2.22s; }
  h1 span:nth-child(19), h2 span:nth-child(19) {
    transition-delay: 2.31s; }
  h1 span:nth-child(20), h2 span:nth-child(20) {
    transition-delay: 2.4s; }
  h1 span:nth-child(21), h2 span:nth-child(21) {
    transition-delay: 2.49s; }
  h1 span:nth-child(22), h2 span:nth-child(22) {
    transition-delay: 2.58s; }
  h1 span:nth-child(23), h2 span:nth-child(23) {
    transition-delay: 2.67s; }
  h1 span:nth-child(24), h2 span:nth-child(24) {
    transition-delay: 2.76s; }
  h1 span:nth-child(25), h2 span:nth-child(25) {
    transition-delay: 2.85s; }
  h1 span:nth-child(26), h2 span:nth-child(26) {
    transition-delay: 2.94s; }
  h1 span:nth-child(27), h2 span:nth-child(27) {
    transition-delay: 3.03s; }
  h1 span:nth-child(28), h2 span:nth-child(28) {
    transition-delay: 3.12s; }
  h1 span:nth-child(29), h2 span:nth-child(29) {
    transition-delay: 3.21s; }
  h1 span:nth-child(30), h2 span:nth-child(30) {
    transition-delay: 3.3s; }
  h1 span:nth-child(31), h2 span:nth-child(31) {
    transition-delay: 3.39s; }
  h1 span:nth-child(32), h2 span:nth-child(32) {
    transition-delay: 3.48s; }
  h1 span:nth-child(33), h2 span:nth-child(33) {
    transition-delay: 3.57s; }
  h1 span:nth-child(34), h2 span:nth-child(34) {
    transition-delay: 3.66s; }
  h1 span:nth-child(35), h2 span:nth-child(35) {
    transition-delay: 3.75s; }
  h1 span:nth-child(36), h2 span:nth-child(36) {
    transition-delay: 3.84s; }
  h1 span:nth-child(37), h2 span:nth-child(37) {
    transition-delay: 3.93s; }
  h1 span:nth-child(38), h2 span:nth-child(38) {
    transition-delay: 4.02s; }
  h1 span:nth-child(39), h2 span:nth-child(39) {
    transition-delay: 4.11s; }
  h1 span:nth-child(40), h2 span:nth-child(40) {
    transition-delay: 4.2s; }
  h1 span:nth-child(41), h2 span:nth-child(41) {
    transition-delay: 4.29s; }
  h1 span:nth-child(42), h2 span:nth-child(42) {
    transition-delay: 4.38s; }
  h1 span:nth-child(43), h2 span:nth-child(43) {
    transition-delay: 4.47s; }
  h1 span:nth-child(44), h2 span:nth-child(44) {
    transition-delay: 4.56s; }
  h1 span:nth-child(45), h2 span:nth-child(45) {
    transition-delay: 4.65s; }
  h1 span:nth-child(46), h2 span:nth-child(46) {
    transition-delay: 4.74s; }
  h1 span:nth-child(47), h2 span:nth-child(47) {
    transition-delay: 4.83s; }
  h1 span:nth-child(48), h2 span:nth-child(48) {
    transition-delay: 4.92s; }
  h1 span:nth-child(49), h2 span:nth-child(49) {
    transition-delay: 5.01s; }
  h1 span:nth-child(50), h2 span:nth-child(50) {
    transition-delay: 5.1s; }
  h1 span:nth-child(51), h2 span:nth-child(51) {
    transition-delay: 5.19s; }
  h1 span:nth-child(52), h2 span:nth-child(52) {
    transition-delay: 5.28s; }
  h1 span:nth-child(53), h2 span:nth-child(53) {
    transition-delay: 5.37s; }
  h1 span:nth-child(54), h2 span:nth-child(54) {
    transition-delay: 5.46s; }
  h1 span:nth-child(55), h2 span:nth-child(55) {
    transition-delay: 5.55s; }
  h1 span:nth-child(56), h2 span:nth-child(56) {
    transition-delay: 5.64s; }
  h1 span:nth-child(57), h2 span:nth-child(57) {
    transition-delay: 5.73s; }
  h1 span:nth-child(58), h2 span:nth-child(58) {
    transition-delay: 5.82s; }
  h1 span:nth-child(59), h2 span:nth-child(59) {
    transition-delay: 5.91s; }
  h1 span:nth-child(60), h2 span:nth-child(60) {
    transition-delay: 6s; }

p span {
  transform: translate3d(0, 24px, 0) skewX(6deg);
  transition-delay: 0s; }

.active-section h1 span, .active-section h2 span {
  opacity: 1;
  transform: translate3d(0, 0, 0) skewX(0deg); }

.active-section p span {
  opacity: 1;
  transform: translate3d(0, 0, 0) skewX(0deg); }
  .active-section p span:nth-child(1) {
    transition-delay: 1.26s; }
  .active-section p span:nth-child(2) {
    transition-delay: 1.32s; }
  .active-section p span:nth-child(3) {
    transition-delay: 1.38s; }
  .active-section p span:nth-child(4) {
    transition-delay: 1.44s; }
  .active-section p span:nth-child(5) {
    transition-delay: 1.5s; }
  .active-section p span:nth-child(6) {
    transition-delay: 1.56s; }
  .active-section p span:nth-child(7) {
    transition-delay: 1.62s; }
  .active-section p span:nth-child(8) {
    transition-delay: 1.68s; }
  .active-section p span:nth-child(9) {
    transition-delay: 1.74s; }
  .active-section p span:nth-child(10) {
    transition-delay: 1.8s; }
  .active-section p span:nth-child(11) {
    transition-delay: 1.86s; }
  .active-section p span:nth-child(12) {
    transition-delay: 1.92s; }
  .active-section p span:nth-child(13) {
    transition-delay: 1.98s; }
  .active-section p span:nth-child(14) {
    transition-delay: 2.04s; }
  .active-section p span:nth-child(15) {
    transition-delay: 2.1s; }
  .active-section p span:nth-child(16) {
    transition-delay: 2.16s; }
  .active-section p span:nth-child(17) {
    transition-delay: 2.22s; }
  .active-section p span:nth-child(18) {
    transition-delay: 2.28s; }
  .active-section p span:nth-child(19) {
    transition-delay: 2.34s; }
  .active-section p span:nth-child(20) {
    transition-delay: 2.4s; }
  .active-section p span:nth-child(21) {
    transition-delay: 2.46s; }
  .active-section p span:nth-child(22) {
    transition-delay: 2.52s; }
  .active-section p span:nth-child(23) {
    transition-delay: 2.58s; }
  .active-section p span:nth-child(24) {
    transition-delay: 2.64s; }
  .active-section p span:nth-child(25) {
    transition-delay: 2.7s; }
  .active-section p span:nth-child(26) {
    transition-delay: 2.76s; }
  .active-section p span:nth-child(27) {
    transition-delay: 2.82s; }
  .active-section p span:nth-child(28) {
    transition-delay: 2.88s; }
  .active-section p span:nth-child(29) {
    transition-delay: 2.94s; }
  .active-section p span:nth-child(30) {
    transition-delay: 3s; }
  .active-section p span:nth-child(31) {
    transition-delay: 3.06s; }
  .active-section p span:nth-child(32) {
    transition-delay: 3.12s; }
  .active-section p span:nth-child(33) {
    transition-delay: 3.18s; }
  .active-section p span:nth-child(34) {
    transition-delay: 3.24s; }
  .active-section p span:nth-child(35) {
    transition-delay: 3.3s; }
  .active-section p span:nth-child(36) {
    transition-delay: 3.36s; }
  .active-section p span:nth-child(37) {
    transition-delay: 3.42s; }
  .active-section p span:nth-child(38) {
    transition-delay: 3.48s; }
  .active-section p span:nth-child(39) {
    transition-delay: 3.54s; }
  .active-section p span:nth-child(40) {
    transition-delay: 3.6s; }
  .active-section p span:nth-child(41) {
    transition-delay: 3.66s; }
  .active-section p span:nth-child(42) {
    transition-delay: 3.72s; }
  .active-section p span:nth-child(43) {
    transition-delay: 3.78s; }
  .active-section p span:nth-child(44) {
    transition-delay: 3.84s; }
  .active-section p span:nth-child(45) {
    transition-delay: 3.9s; }
  .active-section p span:nth-child(46) {
    transition-delay: 3.96s; }
  .active-section p span:nth-child(47) {
    transition-delay: 4.02s; }
  .active-section p span:nth-child(48) {
    transition-delay: 4.08s; }
  .active-section p span:nth-child(49) {
    transition-delay: 4.14s; }
  .active-section p span:nth-child(50) {
    transition-delay: 4.2s; }
  .active-section p span:nth-child(51) {
    transition-delay: 4.26s; }
  .active-section p span:nth-child(52) {
    transition-delay: 4.32s; }
  .active-section p span:nth-child(53) {
    transition-delay: 4.38s; }
  .active-section p span:nth-child(54) {
    transition-delay: 4.44s; }
  .active-section p span:nth-child(55) {
    transition-delay: 4.5s; }
  .active-section p span:nth-child(56) {
    transition-delay: 4.56s; }
  .active-section p span:nth-child(57) {
    transition-delay: 4.62s; }
  .active-section p span:nth-child(58) {
    transition-delay: 4.68s; }
  .active-section p span:nth-child(59) {
    transition-delay: 4.74s; }
  .active-section p span:nth-child(60) {
    transition-delay: 4.8s; }
  .active-section p span:nth-child(61) {
    transition-delay: 4.86s; }
  .active-section p span:nth-child(62) {
    transition-delay: 4.92s; }
  .active-section p span:nth-child(63) {
    transition-delay: 4.98s; }
  .active-section p span:nth-child(64) {
    transition-delay: 5.04s; }
  .active-section p span:nth-child(65) {
    transition-delay: 5.1s; }
  .active-section p span:nth-child(66) {
    transition-delay: 5.16s; }
  .active-section p span:nth-child(67) {
    transition-delay: 5.22s; }
  .active-section p span:nth-child(68) {
    transition-delay: 5.28s; }
  .active-section p span:nth-child(69) {
    transition-delay: 5.34s; }
  .active-section p span:nth-child(70) {
    transition-delay: 5.4s; }
  .active-section p span:nth-child(71) {
    transition-delay: 5.46s; }
  .active-section p span:nth-child(72) {
    transition-delay: 5.52s; }
  .active-section p span:nth-child(73) {
    transition-delay: 5.58s; }
  .active-section p span:nth-child(74) {
    transition-delay: 5.64s; }
  .active-section p span:nth-child(75) {
    transition-delay: 5.7s; }
  .active-section p span:nth-child(76) {
    transition-delay: 5.76s; }
  .active-section p span:nth-child(77) {
    transition-delay: 5.82s; }
  .active-section p span:nth-child(78) {
    transition-delay: 5.88s; }
  .active-section p span:nth-child(79) {
    transition-delay: 5.94s; }
  .active-section p span:nth-child(80) {
    transition-delay: 6s; }
  .active-section p span:nth-child(81) {
    transition-delay: 6.06s; }
  .active-section p span:nth-child(82) {
    transition-delay: 6.12s; }
  .active-section p span:nth-child(83) {
    transition-delay: 6.18s; }
  .active-section p span:nth-child(84) {
    transition-delay: 6.24s; }
  .active-section p span:nth-child(85) {
    transition-delay: 6.3s; }
  .active-section p span:nth-child(86) {
    transition-delay: 6.36s; }
  .active-section p span:nth-child(87) {
    transition-delay: 6.42s; }
  .active-section p span:nth-child(88) {
    transition-delay: 6.48s; }
  .active-section p span:nth-child(89) {
    transition-delay: 6.54s; }
  .active-section p span:nth-child(90) {
    transition-delay: 6.6s; }
  .active-section p span:nth-child(91) {
    transition-delay: 6.66s; }
  .active-section p span:nth-child(92) {
    transition-delay: 6.72s; }
  .active-section p span:nth-child(93) {
    transition-delay: 6.78s; }
  .active-section p span:nth-child(94) {
    transition-delay: 6.84s; }
  .active-section p span:nth-child(95) {
    transition-delay: 6.9s; }
  .active-section p span:nth-child(96) {
    transition-delay: 6.96s; }
  .active-section p span:nth-child(97) {
    transition-delay: 7.02s; }
  .active-section p span:nth-child(98) {
    transition-delay: 7.08s; }
  .active-section p span:nth-child(99) {
    transition-delay: 7.14s; }
  .active-section p span:nth-child(100) {
    transition-delay: 7.2s; }
  .active-section p span:nth-child(101) {
    transition-delay: 7.26s; }
  .active-section p span:nth-child(102) {
    transition-delay: 7.32s; }
  .active-section p span:nth-child(103) {
    transition-delay: 7.38s; }
  .active-section p span:nth-child(104) {
    transition-delay: 7.44s; }
  .active-section p span:nth-child(105) {
    transition-delay: 7.5s; }
  .active-section p span:nth-child(106) {
    transition-delay: 7.56s; }
  .active-section p span:nth-child(107) {
    transition-delay: 7.62s; }
  .active-section p span:nth-child(108) {
    transition-delay: 7.68s; }
  .active-section p span:nth-child(109) {
    transition-delay: 7.74s; }
  .active-section p span:nth-child(110) {
    transition-delay: 7.8s; }
  .active-section p span:nth-child(111) {
    transition-delay: 7.86s; }
  .active-section p span:nth-child(112) {
    transition-delay: 7.92s; }
  .active-section p span:nth-child(113) {
    transition-delay: 7.98s; }
  .active-section p span:nth-child(114) {
    transition-delay: 8.04s; }
  .active-section p span:nth-child(115) {
    transition-delay: 8.1s; }
  .active-section p span:nth-child(116) {
    transition-delay: 8.16s; }
  .active-section p span:nth-child(117) {
    transition-delay: 8.22s; }
  .active-section p span:nth-child(118) {
    transition-delay: 8.28s; }
  .active-section p span:nth-child(119) {
    transition-delay: 8.34s; }
  .active-section p span:nth-child(120) {
    transition-delay: 8.4s; }

@keyframes spreadOut {
  0% {
    opacity: 0;
    filter: blur(3px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }

.react-parallax-content * {
  z-index: 999; }

section * {
  z-index: 999; }

/* Modules */
@keyframes increasingNum {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes decreasingNum {
  0% {
    opacity: 0;
    transform: translate3d(0, -40px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.portfolio-nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  background: white; }
  .portfolio-nav .portfolio-nav__toggle-abbreviation, .portfolio-nav .portfolio-nav__toggle-num {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s; }
  .portfolio-nav .portfolio-nav__toggle-abbreviation {
    margin-bottom: 12px; }
  .portfolio-nav .portfolio-nav__toggle-num {
    margin-top: 18px;
    animation: decreasingNum 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.09s; }
  .portfolio-nav--countIsIncreasing .portfolio-nav__toggle-num {
    animation: increasingNum 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .portfolio-nav hr {
    margin: 0;
    height: 2px;
    width: 100%;
    background-color: #DEDEDC; }
    .portfolio-nav hr:first-of-type {
      background: #F4F4F4; }
  .portfolio-nav p {
    font-size: 21px;
    color: #888B8D;
    min-width: 130px; }
  .portfolio-nav__toggle {
    position: fixed;
    right: 0;
    top: 6px;
    width: 60px;
    height: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99999;
    cursor: pointer; }
    .portfolio-nav__toggle:hover .portfolio-nav__hamburger {
      height: 18px; }
      .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:first-child, .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:last-child {
        opacity: 1; }
      .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:first-child {
        transform: translate3d(0, -9px, 0); }
      .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:last-child {
        transform: translate3d(0, 9px, 0); }
    .portfolio-nav__toggle:hover .portfolio-nav__toggle-abbreviation, .portfolio-nav__toggle:hover .portfolio-nav__toggle-num {
      opacity: 0; }
    .portfolio-nav__toggle:hover .portfolio-nav__toggle-abbreviation {
      transform: translate3d(0, -12px, 0); }
    .portfolio-nav__toggle:hover .portfolio-nav__toggle-num {
      transform: translate3d(0, 12px, 0); }
  .portfolio-nav__hamburger {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center; }
    .portfolio-nav__hamburger .line {
      transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.6s, background-color cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
      background: #232021;
      height: 1px;
      border-radius: 1px;
      width: 100%; }
      .portfolio-nav__hamburger .line:first-child, .portfolio-nav__hamburger .line:last-child {
        opacity: 0; }
  .portfolio-nav--white .portfolio-nav__hamburger .line {
    background-color: white; }
  .portfolio-nav--white .portfolio-nav__toggle-abbreviation, .portfolio-nav--white .portfolio-nav__toggle-num {
    color: white;
    font-weight: 700; }
  .portfolio-nav__main {
    position: fixed;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
    height: calc(100vh);
    top: 0px;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s; }
  .portfolio-nav__panel {
    pointer-events: auto;
    position: absolute;
    width: calc(33.32% + 24px);
    right: 0;
    height: 100%;
    overflow-y: scroll;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    transform: translate3d(100%, 0, 0); }
    .portfolio-nav__panel h1, .portfolio-nav__panel h2, .portfolio-nav__panel h3, .portfolio-nav__panel h4, .portfolio-nav__panel h5, .portfolio-nav__panel h6 {
      display: inline; }
    .portfolio-nav__panel h3 {
      border-bottom: solid 2px transparent;
      transition: border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      padding-bottom: 2px; }
    .portfolio-nav__panel hr {
      height: 3px; }
    .portfolio-nav__panel ul {
      min-height: 100%;
      height: auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 80px 72px 24px; }
    .portfolio-nav__panel li {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      opacity: 0;
      transform: translate3d(40px, 0, 0);
      cursor: pointer;
      transition: none;
      width: auto;
      margin-bottom: 40px; }
    .portfolio-nav__panel i {
      margin-right: 12px; }
  .portfolio-nav__panel--white {
    background: white; }
    .portfolio-nav__panel--white h1:hover, .portfolio-nav__panel--white h2:hover, .portfolio-nav__panel--white h3:hover, .portfolio-nav__panel--white h4:hover, .portfolio-nav__panel--white h5:hover, .portfolio-nav__panel--white h6:hover {
      border-color: #DEDEDC; }
    .portfolio-nav__panel--white h1.active, .portfolio-nav__panel--white h2.active, .portfolio-nav__panel--white h3.active, .portfolio-nav__panel--white h4.active, .portfolio-nav__panel--white h5.active, .portfolio-nav__panel--white h6.active {
      border-color: #E04E47; }
    .portfolio-nav__panel--white h5 {
      margin-bottom: 12px; }
  .portfolio-nav__panel--blue {
    background: #232021; }
    .portfolio-nav__panel--blue h1, .portfolio-nav__panel--blue h2, .portfolio-nav__panel--blue h3, .portfolio-nav__panel--blue h4, .portfolio-nav__panel--blue h5, .portfolio-nav__panel--blue h6 {
      color: white; }
      .portfolio-nav__panel--blue h1:hover, .portfolio-nav__panel--blue h2:hover, .portfolio-nav__panel--blue h3:hover, .portfolio-nav__panel--blue h4:hover, .portfolio-nav__panel--blue h5:hover, .portfolio-nav__panel--blue h6:hover {
        border-color: white; }
    .portfolio-nav__panel--blue .icon-arrow-long-left {
      font-size: 30px;
      color: white;
      -ms-transform: scaleY(-1);
      transform: scaleY(-1); }
    .portfolio-nav__panel--blue h5 {
      margin-bottom: 24px; }
    .portfolio-nav__panel--blue:hover ::-webkit-scrollbar {
      width: 6px; }
    .portfolio-nav__panel--blue:hover ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 6px; }
  .portfolio-nav--menuOpen .portfolio-nav__hamburger .line, .portfolio-nav--menuOpen .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line {
    background: #232021;
    opacity: 0; }
    .portfolio-nav--menuOpen .portfolio-nav__hamburger .line:first-child, .portfolio-nav--menuOpen .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:first-child {
      opacity: 1;
      transform: translate3d(0, 0px, 0) rotate(135deg); }
    .portfolio-nav--menuOpen .portfolio-nav__hamburger .line:last-child, .portfolio-nav--menuOpen .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line:last-child {
      opacity: 1;
      transform: translate3d(0, -2px, 0) rotate(45deg); }
  .portfolio-nav--menuOpen .portfolio-nav__toggle-abbreviation, .portfolio-nav--menuOpen .portfolio-nav__toggle-num {
    opacity: 0; }
  .portfolio-nav--menuOpen .portfolio-nav__toggle-abbreviation {
    transform: translate3d(0, -12px, 0); }
  .portfolio-nav--menuOpen .portfolio-nav__toggle-num {
    transform: translate3d(0, 12px, 0); }
  .portfolio-nav--menuOpen .portfolio-nav__main {
    background: rgba(35, 32, 33, 0.5); }
  .portfolio-nav--menuOpen .portfolio-nav__panel li {
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(1) {
      transition-delay: 0.09s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(2) {
      transition-delay: 0.18s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(3) {
      transition-delay: 0.27s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(4) {
      transition-delay: 0.36s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(5) {
      transition-delay: 0.45s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(6) {
      transition-delay: 0.54s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(7) {
      transition-delay: 0.63s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(8) {
      transition-delay: 0.72s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(9) {
      transition-delay: 0.81s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(10) {
      transition-delay: 0.9s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(11) {
      transition-delay: 0.99s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(12) {
      transition-delay: 1.08s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(13) {
      transition-delay: 1.17s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(14) {
      transition-delay: 1.26s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(15) {
      transition-delay: 1.35s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(16) {
      transition-delay: 1.44s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(17) {
      transition-delay: 1.53s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(18) {
      transition-delay: 1.62s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(19) {
      transition-delay: 1.71s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(20) {
      transition-delay: 1.8s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(21) {
      transition-delay: 1.89s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(22) {
      transition-delay: 1.98s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(23) {
      transition-delay: 2.07s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(24) {
      transition-delay: 2.16s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(25) {
      transition-delay: 2.25s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(26) {
      transition-delay: 2.34s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(27) {
      transition-delay: 2.43s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(28) {
      transition-delay: 2.52s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(29) {
      transition-delay: 2.61s; }
    .portfolio-nav--menuOpen .portfolio-nav__panel li:nth-child(30) {
      transition-delay: 2.7s; }
  .portfolio-nav--menuOpen .portfolio-nav__panel--white {
    -ms-transform: none;
    transform: none; }
    .portfolio-nav--menuOpen .portfolio-nav__panel--white li {
      -ms-transform: none;
      transform: none;
      opacity: 1; }
  .portfolio-nav--secondaryPanelOpen .portfolio-nav__hamburger .line, .portfolio-nav--secondaryPanelOpen .portfolio-nav__toggle:hover .portfolio-nav__hamburger .line {
    background: white; }
  .portfolio-nav--secondaryPanelOpen .portfolio-nav__panel--white {
    transform: translate3d(100%, 0, 0); }
    .portfolio-nav--secondaryPanelOpen .portfolio-nav__panel--white li {
      transform: translate3d(40px, 0, 0);
      opacity: 0; }
  .portfolio-nav--secondaryPanelOpen .portfolio-nav__panel--blue {
    -ms-transform: none;
    transform: none; }
    .portfolio-nav--secondaryPanelOpen .portfolio-nav__panel--blue li {
      -ms-transform: none;
      transform: none;
      opacity: 1; }
  .portfolio-nav--notificationsOpen .portfolio-nav__notifications {
    background: rgba(35, 32, 33, 0.4);
    opacity: 1; }
  .portfolio-nav--notificationsOpen .icon-bell {
    color: #E04E47; }
  @media screen and (max-width: 800px) {
    .portfolio-nav .portfolio-nav__toggle {
      top: 0;
      width: 49px; }
    .portfolio-nav .portfolio-nav__toggle-abbreviation {
      margin-bottom: 9px; }
    .portfolio-nav .portfolio-nav__toggle-num {
      margin-top: 12px; }
    .portfolio-nav hr:last-of-type {
      display: none; }
    .portfolio-nav #second-top-bar {
      display: none; }
    .portfolio-nav .tabbed-list__line-container {
      padding: 0 12px; }
    .portfolio-nav .portfolio-nav__panel {
      width: calc(100% - 24px); }
      .portfolio-nav .portfolio-nav__panel hr {
        display: block; }
      .portfolio-nav .portfolio-nav__panel ul {
        padding: 60px 24px 24px; }
      .portfolio-nav .portfolio-nav__panel .portfolio-nav__items {
        margin-bottom: 18px;
        padding: 0; }
        .portfolio-nav .portfolio-nav__panel .portfolio-nav__items .portfolio-nav__item:last-child {
          border-right: none; }
    .portfolio-nav .portfolio-nav--menuOpen {
      opacity: 0; }
    .portfolio-nav .tabbed-list__header ul {
      padding-top: 0;
      padding-bottom: 0; }
    .portfolio-nav.portfolio-nav--secondaryPanelOpen .portfolio-nav__panel--white li {
      transform: translate3d(40px, 0, 0);
      opacity: 0; } }

.react-parallax-content {
  background: rgba(35, 32, 33, 0.5);
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }
  .react-parallax-content a {
    position: absolute;
    bottom: 18px;
    left: 72px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .react-parallax-content i {
    color: white;
    font-size: 48px; }
  @media screen and (max-width: 800px) {
    .react-parallax-content {
      height: 80vh; } }

/* Responsive */
@media screen and (max-width: 800px) {
  .grid {
    padding: 0 24px; }
    .grid__item--hide-bp-medium {
      display: none; }
    .grid__item--col-1-medium {
      width: 8.33%; }
    .grid__item--col-2-medium {
      width: 16.66%; }
    .grid__item--col-3-medium {
      width: 25%; }
    .grid__item--col-4-medium {
      width: 33.33%; }
    .grid__item--col-5-medium {
      width: 41.66%; }
    .grid__item--col-6-medium {
      width: 50%; }
    .grid__item--col-7-medium {
      width: 58.33%; }
    .grid__item--col-8-medium {
      width: 66.66%; }
    .grid__item--col-9-medium {
      width: 75%; }
    .grid__item--col-10-medium {
      width: 83.33%; }
    .grid__item--col-11-medium {
      width: 91.66%; }
    .grid__item--col-12-medium {
      width: 100%; }
  section {
    padding: 12px 0; }
  .editable-title {
    margin-left: -30px; }
  .article-jumbotron {
    height: 60vh; }
  .article-body {
    padding: 60px 30px;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .article-body .introduction h4 {
      max-height: 24px;
      margin-top: 12px; }
    .article-body .metadata {
      margin-top: 30px; }
  h1 {
    font-size: 12vw;
    margin-left: -2px; }
  blockquote {
    margin: 30px 0;
    font-size: 28px;
    -ms-transform: none;
    transform: none; }
  h2 {
    font-size: 8vw; }
  h3 {
    font-size: 6vw; }
  h4 {
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
